{namespace vh=Tx_Powermail_ViewHelpers}
<f:layout name="Default" />

Render Powermail_Frontend Edit View
{mail} 			Mail Object


<f:section name="main">
	<f:flashMessages class="powermail_message powermail_message_error" />

	<div class="powermail_frontend">
		<f:form action="update" controller="Output" enctype="multipart/form-data" class="powermail_form">
			<f:for each="{fields}" as="field">
				<f:for each="{mail.answers}" as="answer">
					<f:if condition="{answer.field} == {field.uid}">
						<f:if condition="{vh:Condition.Or(array: '{0: 'input', 1: 'check'}')}">

							{field.type}
						</f:if>
					</f:if>
				</f:for>
			</f:for>
		</f:form>

		<f:link.page pageUid="{listPid}"><f:translate key="Back" /></f:link.page>
	</div>
</f:section>
<f:render partial="Forms/{vh:String.Upper(string: '{field.type}')}" arguments="{field: field, overwriteValue: answer.value}" />
