{namespace vh=In2code\Powermail\ViewHelpers}
<f:layout name="Default" />

	Render Powermail_Frontend Edit View
	{mail}                  Mail Object
	{selectedFields}        Selected Fields


<f:section name="main">
	<f:alias map="{flashMessageClass:'powermail_message_ok'}">
		<f:render partial="FlashMessages/{vh:Misc.GetFlashMessagesPartialName()}" arguments="{_all}" />
	</f:alias>

	<div class="powermail_frontend">
		<f:if condition="{mail}">
			<f:then>
				<f:if condition="{vh:Condition.IsAllowedToEdit(settings:settings, mail:mail)}">

					<f:then>
						<f:form
								action="update"
								name="field"
								object="{mail}"
								enctype="multipart/form-data"
								additionalAttributes="{vh:Validation.EnableParsleyAndAjax(form:mail.form)}"
								class="powermail_form powermail_form_{mail.form.uid} {form.css} {settings.styles.framework.formClasses}">

							<fieldset class="powermail_fieldset">

								<h3>{mail.form.title}</h3>
								<f:render partial="Misc/FormError" arguments="{form:mail.form}" />

								<f:for each="{mail.form.pages}" as="page" iteration="pageIteration">
									<legend class="powermail_legend">
										<f:if condition="{pageIteration.isFirst}">{page.title}</f:if>
									</legend>

									<f:for each="{page.fields}" as="field">
										<f:for each="{selectedFields}" as="selectedField">
											<f:if condition="{selectedField} == {field}">
												<f:if condition="{field.advancedFieldType}">
													<f:then>
														<f:render partial="Form/Field/{vh:String.Upper(string:field.type)}" arguments="{_all}" />
													</f:then>
													<f:else>
														<f:render partial="Output/EditHidden" arguments="{_all}" />
													</f:else>
												</f:if>
											</f:if>
										</f:for>
									</f:for>
								</f:for>

								<f:form.hidden
										name="mail[form]"
										value="{mail.form.uid}"
										class="powermail_form_uid" />

								<div class="{settings.styles.framework.fieldAndLabelWrappingClasses}">
									<div class="{settings.styles.framework.fieldWrappingClasses} {settings.styles.framework.offsetClasses}">
										<f:form.submit
												value="{f:translate(key:'PowermailFrontendEditSubmit')}"
												class="powermail_field powermail_submit btn btn-primary" />
									</div>
								</div>

							</fieldset>
						</f:form>
					</f:then>

					<f:else>
						<p><f:translate key="PowermailFrontendEditFailed">No Mail given</f:translate></p>
					</f:else>
				</f:if>
			</f:then>
			<f:else>
				<p><f:translate key="PowermailFrontendEditNoMail">Wrong Permissions</f:translate></p>
			</f:else>
		</f:if>

		<f:link.page pageUid="{listPid}" class="powermail_frontend_back">
			<f:translate key="Back" />
		</f:link.page>
	</div>
</f:section>
