{namespace vh=In2code\Powermail\ViewHelpers}
<f:layout name="Export" />

Render Powermail CSV Export
{mails}					All Mails for exporting
{fields}				Fields to export (drag'n drop settings in module)

<f:section name="main"><vh:string.utf8ToUtf16><vh:string.trim>

	<f:for each="{mails}" as="mail" iteration="index">
		<f:if condition="{index.isFirst}">
			<f:for each="{fields}" as="field">
				"<vh:string.removeQuote>{field.title}</vh:string.removeQuote>";
			</f:for>
			<br />
		</f:if>


		<f:for each="{fields}" as="field">
			<f:for each="{mail.answers}" as="answer">
				<f:if condition="{field} == {answer.field}">

					<f:if condition="{vh:condition.isArray(val: '{answer.value}')}">
						<f:else>
							"<vh:string.removeQuote><vh:string.sanitizeCsvCell>{answer.value}</vh:string.sanitizeCsvCell></vh:string.removeQuote>";
						</f:else>
						<f:then>
							"<vh:string.removeQuote>
                                <vh:string.sanitizeCsvCell>
                                    <f:for each="{answer.value}" as="singleValue">
                                        <f:if condition="{singleValue}">
                                            {singleValue},
                                        </f:if>
                                    </f:for>
                                </vh:string.sanitizeCsvCell>
							</vh:string.removeQuote>";
						</f:then>
					</f:if>

				</f:if>
			</f:for>
		</f:for>
		<br />
	</f:for>

</vh:string.trim></vh:string.utf8ToUtf16></f:section>
