{namespace vh=Tx_Powermail_ViewHelpers}
<f:layout name="Default" />

Render Powermail_Frontend List View



<f:section name="main">
	<div class="powermail_frontent">
		<f:flashMessages class="powermail_message powermail_message_error" />

		(<f:count subject="{mails}" />)<br />

		<f:for each="{mails}" as="mail">
			<ul>
			<f:for each="{fields}" as="field">
				<f:for each="{mail.answers}" as="answer">
					<f:if condition="{answer.field} == {field}">
						<li>{answer.value}</li>
					</f:if>
				</f:for>
			</f:for>
			</ul>
		</f:for>
	</div>
</f:section>