{namespace vh=In2code\Powermail\ViewHelpers}
<f:layout name="Export" />

RSS Feed for Powermail_Frontend

<f:section name="main"><?xml version="1.0" encoding="ISO-8859-1" ?>
<?xml-stylesheet type="text/css" media="screen" href="http://feeds.feedburner.com/~d/styles/itemcontent.css"?>
	<rss xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:wfw="http://wellformedweb.org/CommentAPI/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:sy="http://purl.org/rss/1.0/modules/syndication/" xmlns:slash="http://purl.org/rss/1.0/modules/slash/" version="2.0">

		<channel>
			<title>{settings.rss.title}</title>
			<link>{settings.rss.link}</link>
			<description>{settings.rss.description}</description>
			<language>{settings.rss.language}</language>
			<copyright>{settings.rss.copyright}</copyright>
			<sy:updatePeriod>{settings.rss.updatePeriod}</sy:updatePeriod>
			<sy:updateFrequency>{settings.rss.updateFrequency}</sy:updateFrequency>

			<f:for each="{mails}" as="mail">
				<item>
					<title>{mail.senderName}</title>
					<description>
						<f:for each="{mail.answers}" as="answer">
							<f:if condition="{vh:Condition.IsArray(val: '{answer.value}')}">
								<f:else>
									{answer.field.title}: {answer.value};
								</f:else>
							</f:if>
						</f:for>
					</description>
					<link><vh:String.Encode><f:uri.action pageUid="{singlePid}" absolute="1" action="show" arguments="{mail: mail}" /></vh:String.Encode></link>
					<pubDate><f:format.date format="D, d M Y H:i:s +0200">{mail.crdate}</f:format.date></pubDate>
				</item>
			</f:for>
		</channel>
	</rss>
</f:section>
