{namespace vh=Tx_Powermail_ViewHelpers}
<f:layout name="Default" />

Render Powermail_Frontend Show View
{mail} 			Mail Object


<f:section name="main">
	<f:flashMessages class="powermail_message powermail_message_error" />

	<div class="powermail_frontend">
		<f:for each="{fields}" as="field">
			<dl>
				<f:for each="{mail.answers}" as="answer">
					<f:if condition="{answer.field} == {field}">
						<dt><vh:Getter.GetFieldLabelFromUid uid="{field}" /></dt>

						<f:if condition="{vh:Condition.IsArray(val: '{answer.value}')}">
							<f:then>
								<dd>
									<f:for each="{answer.value}" as="value2" iteration="index2">
										<f:if condition="{value2}">
											{value2}<f:if condition="{index2.isLast}"><f:else>, </f:else></f:if>
										</f:if>
									</f:for>
								</dd>
							</f:then>
							<f:else>
								<dd>{answer.value}</dd>
							</f:else>
						</f:if>

					</f:if>
				</f:for>
			</dl>
		</f:for>

		<f:link.page pageUid="{listPid}"><f:translate key="Back" /></f:link.page>
	</div>
</f:section>