{namespace vh=Tx_Powermail_ViewHelpers}
<f:layout name="Default" />

Render Powermail_Frontend Show View
{mail} 			Mail Object


<f:section name="main">
	<f:flashMessages class="powermail_message powermail_message_error" />

	<div class="powermail_frontend">
			<f:for each="{fields}" as="field">
				<dl>
					<f:for each="{mail.answers}" as="answer">
						<f:if condition="{answer.field} == {field}">
							<dt><vh:GetFieldLabelFromUid uid="{field}" /></dt>
							<dd>{answer.value} </dd>
						</f:if>
					</f:for>
				</dl>
			</f:for>

		<f:link.page pageUid="{listPid}"><f:translate key="Back" /></f:link.page>
	</div>
</f:section>