
----------------------------------------------------

<f:format.date format="Y-m-d H:i:s">{time}</f:format.date>

PID: {pid}
Spamfactor of this mail: {calculatedMailSpamFactor}
Failed Spamchecks:
<f:for each="{messages}" as="message">- {message}
</f:for>
Given Form variables:
<f:for each="{mail.answers}" as="answer">- {answer.field.title}:
    <f:if condition="{vh:condition.isArray(val: answer.value)}">
        <f:then>
            <f:for each="{answer.value}" as="value">
                {value}
            </f:for>
        </f:then>
        <f:else>
            {answer.value}
        </f:else>
</f:for>
<f:if condition="{ipAddress}">Senders IP addess: {ipAddress}</f:if>

Complete request array:
<f:format.raw>{requestPlain}</f:format.raw>
