/.crowdin.yaml export-ignore
/.ddev export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.project export-ignore
/crowdin.yaml export-ignore
/phpunit.xml.dist export-ignore
/rector.php export-ignore
/Resources/Private/Build export-ignore
/Tests export-ignore
# Enforce checkout with linux lf consistent over all plattforms
*.html text eol=lf
*.css text eol=lf
*.tmpl text eol=lf
*.less text eol=lf
*.js text eol=lf
*.json text eol=lf
*.php text eol=lf
*.rst text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.ts text eol=lf
*.xlf text eol=lf
*.sql text eol=lf
*.t3s text eol=lf
*.txt text eol=lf
*.tar.gz filter=lfs diff=lfs merge=lfs -text
*.sql.gz filter=lfs diff=lfs merge=lfs -text
