msi.iws
.idea/
nbproject/
node_modules
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.svn
.sass-cache
.php-cs-fixer.cache
.Build
composer.lock
package-lock.json
var
dynamicReturnTypeMeta.json
/Documentation-GENERATED-temp/
docker-compose.yml
.php_cs.cache
config/

.ddev/**
!.ddev/commands/typo3
!.ddev/commands/typo3cms
!.ddev/typo3/AdditionalConfiguration.php
!.ddev/typo3/config.yaml
/.phpunit.result.cache
/phpunit.xml.dist.bak

.project/data/screenshots
