msi.iws
.idea/
nbproject/
Resources/Private/node_modules/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.svn
.sass-cache
.Build
composer.lock
package-lock.json
var
dynamicReturnTypeMeta.json
/Documentation-GENERATED-temp/
docker-compose.yml
.php_cs.cache
config/
