<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd" backupGlobals="true" colors="true" bootstrap="Tests/Unit/bootstrap.php" processIsolation="false" stopOnError="false" stopOnFailure="false" stopOnIncomplete="false" stopOnSkipped="false" stopOnRisky="false" timeoutForSmallTests="1" timeoutForMediumTests="10" timeoutForLargeTests="60" cacheDirectory=".phpunit.cache" backupStaticProperties="false" requireCoverageMetadata="true">
  <coverage includeUncoveredFiles="false"/>
  <php>
    <ini name="error_reporting" value="E_ERROR"/>
    <ini name="intl.default_locale" value="en"/>
    <ini name="intl.error_level" value="0"/>
    <ini name="memory_limit" value="-1"/>
    <ini name="display_errors" value="true"/>
  </php>
  <testsuites>
    <testsuite name="powermail Core Test Suite">
      <directory>Tests/Unit/</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">Classes/</directory>
    </include>
  </source>
</phpunit>
