{namespace vh=In2code\Powermail\ViewHelpers}

<f:comment>
	Mail: {mail}
	Answer: {answer}
</f:comment>

<tr>
	<td valign="top">
		<b><vh:string.RawAndRemoveXss>{answer.field.title}</vh:string.RawAndRemoveXss></b>
	</td>
	<td valign="top">
		<f:if condition="{vh:Condition.IsArray(val:answer.value)}">
			<f:else>
				<f:format.nl2br><vh:Misc.ManipulateValueWithTypoScript answer="{answer}" type="{type}">{answer.value}</vh:Misc.ManipulateValueWithTypoScript></f:format.nl2br>
			</f:else>
			<f:then>
				<f:for each="{answer.value}" as="subValue" iteration="index">
					<f:if condition="{subValue}">
						<vh:Misc.ManipulateValueWithTypoScript answer="{answer}" type="{type}">{subValue}</vh:Misc.ManipulateValueWithTypoScript><f:if condition="{index.isLast}"><f:else>, </f:else></f:if>
					</f:if>
				</f:for>
			</f:then>
		</f:if>
	</td>
</tr>
