{namespace vh=Tx_Powermail_ViewHelpers}

<f:comment>
	Label: {variable.label}
	Value: {variable.value}
	Uid: {variable.uid}
</f:comment>

<tr>
	<td valign="top">
		<b><vh:string.RawAndRemoveXss>{variable.label}</vh:string.RawAndRemoveXss></b>
	</td>
	<td valign="top">
		<f:if condition="{vh:Condition.IsArray(val: '{variable.value}')}">
			<f:then>
				<f:for each="{variable.value}" as="subValue" iteration="index">
					<f:if condition="{subValue}">
						{subValue}<f:if condition="{index.isLast}"><f:else>, </f:else></f:if>
					</f:if>
				</f:for>
			</f:then>
			<f:else>
				<f:format.nl2br>{variable.value}</f:format.nl2br>
			</f:else>
		</f:if>
	</td>
</tr>
