{namespace vh=Tx_Powermail_ViewHelpers}
<f:comment>
	Label: {variable.0}
	Value: {variable.1}
</f:comment>

<tr>
	<td valign="top">
		<b>{variable.0}</b>
	</td>
	<td valign="top">
		<f:if condition="{vh:Condition.IsArray(val: '{variable.1}')}">
			<f:then>
				<f:for each="{variable.1}" as="subValue" iteration="index">
					<f:if condition="{subValue}">
						{subValue}<f:if condition="{index.isLast}"><f:else>, </f:else></f:if>
					</f:if>
				</f:for>
			</f:then>
			<f:else>
				<f:format.nl2br>{variable.1}</f:format.nl2br>
			</f:else>
		</f:if>
	</td>
</tr>
