{namespace vh=In2code\Powermail\ViewHelpers}

<div class="powermail_fieldwrap powermail_fieldwrap_type_file powermail_fieldwrap_{field.marker} {field.css} {settings.styles.framework.fieldAndLabelWrappingClasses}">
	<div class="{settings.styles.framework.fieldWrappingClasses}">
		<f:render partial="Form/FieldLabel" arguments="{_all}" />

		<vh:form.multiUpload
				id="powermail_field_{field.marker}"
				property="{field.marker}"
				additionalAttributes="{vh:validation.uploadAttributes(field:field)}"
				class="powermail_file {settings.styles.framework.fieldClasses} {vh:validation.errorClass(field:field, class: 'powermail_field_error')}"
				aria-describedby="powermail_field_description_{field.marker}" />

		<f:render partial="Form/FieldDescription" arguments="{_all}" />

		<f:if condition="{vh:misc.prefillField(field:field, mail:mail)}">
			<div class="powermail_fieldwrap_file_list">
				<ul>
					<f:for each="{vh:misc.prefillField(field:field, mail:mail)}" as="file">
						<li>
							{file}
							<f:form.hidden property="{field.marker}." value="{file}" />
						</li>
					</f:for>
				</ul>

				<button type="button" class="btn btn-danger deleteAllFiles">
					<f:translate key="deleteAllFiles">Delete All Files</f:translate>
				</button>
			</div>
		</f:if>
	</div>
</div>
