{namespace vh=In2code\Powermail\ViewHelpers}

<div class="powermail_fieldwrap powermail_fieldwrap_type_location powermail_fieldwrap_{field.marker} {field.css} {settings.styles.framework.fieldAndLabelWrappingClasses}">
	<div class="{settings.styles.framework.fieldWrappingClasses}">
		<f:render partial="Form/FieldLabel" arguments="{_all}"/>

		<f:form.textfield
			id="powermail_field_{field.marker}"
			property="{field.marker}"
			value="{vh:misc.prefillField(field:field, mail:mail)}"
			additionalAttributes="{data-powermail-location:'prefill',data-powermail-eidurl:'{f:uri.page(absolute:1)}'}"
			class="powermail_location {settings.styles.framework.fieldClasses} {vh:validation.errorClass(field:field, class:'powermail_field_error')}"
			aria-describedby="powermail_field_description_{field.marker}" />

		<f:render partial="Form/FieldDescription" arguments="{_all}" />
	</div>
</div>
