{namespace vh=In2code\Powermail\ViewHelpers}
<f:layout name="Default" />

Render Powermail Disclaimer Message

<f:section name="main">
	<f:render partial="Misc/FormError" arguments="{error}" />

	<div class="powermail_create">
		<f:alias map="{flashMessageClass:'powermail_message_error'}">
			<f:render partial="Misc/FlashMessages" arguments="{_all}" />
		</f:alias>

		<f:if condition="{status}">
			<f:then>
				<f:translate key="disclaimer_mail_deleted">Mail deleted</f:translate>
			</f:then>
			<f:else>
				<f:translate key="error_mail_not_deleted">Mail not deleted</f:translate>
			</f:else>
		</f:if>
	</div>
</f:section>
