{namespace vh=In2code\Powermail\ViewHelpers}
<f:layout name="PowermailAll" />

	Render Powermail All Part
		Available variables:
		{mail} Complete Mail
		{section}			Contains "web" or "mail"
		{settings}			TypoScript and FlexForm values


Section for Web view

<f:section name="web">
	<dl class="powermail_all">
		<f:for each="{mail.answers}" as="answer">
			<f:if condition="{settings.misc.showOnlyFilledValues}">
				<f:then>
					<f:if condition="{vh:Condition.IsNotEmpty(val:'{answer.value}')}">
						<f:render partial="PowermailAll/Web" arguments="{_all}" />
					</f:if>
				</f:then>
				<f:else>
					<f:render partial="PowermailAll/Web" arguments="{_all}" />
				</f:else>
			</f:if>
		</f:for>
	</dl>

	<div class="clear"></div>
</f:section>



Section for Mails

<f:section name="mail">
	<table class="powermail_all">
		<f:for each="{mail.answers}" as="answer">
			<f:if condition="{settings.misc.showOnlyFilledValues}">
				<f:then>
					<f:if condition="{vh:Condition.IsNotEmpty(val:'{answer.value}')}">
						<f:render partial="PowermailAll/Mail" arguments="{_all}" />
					</f:if>
				</f:then>
				<f:else>
					<f:render partial="PowermailAll/Mail" arguments="{_all}" />
				</f:else>
			</f:if>
		</f:for>
	</table>
</f:section>