{namespace vh=In2code\Powermail\ViewHelpers}

<f:if condition="{vh:Be.CheckWrongLocalizedPages()}">
	<f:then>
		<div class="alert alert-success">
			<div class="header-container">
				<h4 class="message-header">
					<f:translate key="BackendCheckWrongLocalizedPagesTitle">Localized Pages</f:translate>
				</h4>
			</div>
			<div class="message-body">
				<p>
					<f:translate key="BackendCheckWrongLocalizedPagesCorrect">No failures found</f:translate>
				</p>
			</div>
		</div>
	</f:then>
	<f:else>
		<div class="alert alert-warning">
			<h4 class="message-header">
				<f:translate key="BackendCheckWrongLocalizedPagesTitle">Localized Pages</f:translate>
			</h4>
			<div class="message-body">
				<p>
					<f:translate key="BackendCheckWrongLocalizedPagesFailed">Broken localized Pages found</f:translate>
				</p>
				<f:form action="fixWrongLocalizedPages">
					<input type="submit" value="{f:translate(key:'BackendCheckTryToFix', default:'Solve problem')}" />
					<p><strong><f:translate key="BackendCheckBackupBefore">Please backup before!</f:translate></strong></p>
				</f:form>
			</div>
		</div>
	</f:else>
</f:if>
