{namespace vh=In2code\Powermail\ViewHelpers}

<f:if condition="{vh:Be.CheckFilledMarkersInLocalizedFields()}">
	<f:then>
		<div class="typo3-message message-ok powermail-message">
			<div class="header-container">
				<div class="message-header">
					<f:translate key="BackendCheckLocalizedFieldsWithFilledMarkersTitle">Localized Fields</f:translate>
				</div>
			</div>
			<div class="message-body">
				<p>
					<f:translate key="BackendCheckLocalizedFieldsWithFilledMarkersCorrect">No failures found</f:translate>
				</p>
			</div>
		</div>
	</f:then>
	<f:else>
		<div class="typo3-message message-error powermail-message">
			<div class="message-header">
				<f:translate key="BackendCheckLocalizedFieldsWithFilledMarkersTitle">Localized Fields</f:translate>
			</div>
			<div class="message-body">
				<p>
					<f:translate key="BackendCheckLocalizedFieldsWithFilledMarkersFailed">Failures found</f:translate>
				</p>
				<f:form action="fixFilledMarkersInLocalizedFields">
					<f:form.submit
							class="btn btn-default"
							value="{f:translate(key:'BackendCheckTryToFix', default:'Solve problem')}" />
				</f:form>
				<p>
					<strong><f:translate key="BackendCheckBackupBefore">Please backup before!</f:translate></strong>
				</p>
			</div>
		</div>
	</f:else>
</f:if>
