{namespace vh=In2code\Powermail\ViewHelpers}
<div class="alert alert-info">
	<div class="header-container">
		<h4 class="message-header">
			<f:translate key="BackendCheckComposerModeTitle">Composer mode</f:translate>
		</h4>
	</div>
	<div class="message-body">
		<p>
			<f:if condition="{vh:condition.isComposerMode()}">
				<f:then>
					<f:translate key="BackendCheckComposerModeComposer">Composer Mode</f:translate>
				</f:then>
				<f:else>
					<f:translate key="BackendCheckComposerModeClassic">Classic Mode</f:translate>
				</f:else>
			</f:if>
		</p>
	</div>
</div>
