{namespace vh=In2code\Powermail\ViewHelpers}

<f:if condition="{vh:Be.UploadsFolder()}">
	<f:then>
		<div class="alert alert-success">
			<div class="header-container">
				<h4 class="message-header">
					<f:translate key="BackendCheckUploadsFolderTitle" />
				</h4>
			</div>
			<div class="message-body">
				<p>
					<f:translate key="BackendCheckUploadsFolderCorrect" />
				</p>
			</div>
		</div>
	</f:then>
	<f:else>
		<div class="alert alert-danger">
			<h4 class="message-header">
				<f:translate key="BackendCheckUploadsFolderTitle" />
			</h4>
			<div class="message-body">
				<p>
					<f:translate key="BackendCheckUploadsFolderFailed" />
				</p>
				<f:form action="fixUploadFolder">
					<input type="submit" value="{f:translate(key:'BackendCheckTryToFix', default:'Solve problem')}" />
				</f:form>
			</div>
		</div>
	</f:else>
</f:if>
