{namespace vh=In2code\Powermail\ViewHelpers}

<f:if condition="{vh:Be.UploadsFolder()}">
	<f:then>
		<div class="typo3-message message-ok powermail-message">
			<div class="header-container">
				<div class="message-header">
					<f:translate key="BackendCheckUploadsFolderTitle" />
				</div>
			</div>
			<div class="message-body">
				<p>
					<f:translate key="BackendCheckUploadsFolderCorrect" />
				</p>
			</div>
		</div>
	</f:then>
	<f:else>
		<div class="typo3-message message-error powermail-message">
			<div class="message-header">
				<f:translate key="BackendCheckUploadsFolderTitle" />
			</div>
			<div class="message-body">
				<p>
					<f:translate key="BackendCheckUploadsFolderFailed" />
				</p>
				<f:form action="fixUploadFolder">
					<input type="submit" value="{f:translate(key:'BackendCheckTryToFix', default:'Solve problem')}" />
				</f:form>
			</div>
		</div>
	</f:else>
</f:if>
