{namespace vh=Tx_Powermail_ViewHelpers}

<div id="powermail_fieldwrap_{field.uid}" class="powermail_fieldwrap powermail_fieldwrap_date powermail_fieldwrap_{field.uid} {field.css}">
	<label for="powermail_field_{field.marker}" class="powermail_label">
		{field.title}<f:if condition="{field.mandatory}"><span class="mandatory">*</span></f:if>
	</label>

	<f:form.textfield id="powermail_field_{field.marker}" name="field[{field.uid}]" value="{vh:Misc.PrefillField(field: '{field}')}" class="powermail_field powermail_date  {vh:Misc.ValidationClass(field: '{field}')} {vh:Misc.ErrorClass(field: '{field}', class: 'powermail_field_error')}" />


	<input type="hidden" name="container_datepicker_dateformat" class="container_datepicker_dateformat" value="{f:translate(key: 'datepicker_dateformat')}" />
	<input type="hidden" name="container_datepicker_day_so" class="container_datepicker_day_so" value="{f:translate(key: 'datepicker_day_so')}" />
	<input type="hidden" name="container_datepicker_day_mo" class="container_datepicker_day_mo" value="{f:translate(key: 'datepicker_day_mo')}" />
	<input type="hidden" name="container_datepicker_day_tu" class="container_datepicker_day_tu" value="{f:translate(key: 'datepicker_day_tu')}" />
	<input type="hidden" name="container_datepicker_day_we" class="container_datepicker_day_we" value="{f:translate(key: 'datepicker_day_we')}" />
	<input type="hidden" name="container_datepicker_day_th" class="container_datepicker_day_th" value="{f:translate(key: 'datepicker_day_th')}" />
	<input type="hidden" name="container_datepicker_day_fr" class="container_datepicker_day_fr" value="{f:translate(key: 'datepicker_day_fr')}" />
	<input type="hidden" name="container_datepicker_day_sa" class="container_datepicker_day_sa" value="{f:translate(key: 'datepicker_day_sa')}" />
	<input type="hidden" name="container_datepicker_month_jan" class="container_datepicker_month_jan" value="{f:translate(key: 'datepicker_month_jan')}" />
	<input type="hidden" name="container_datepicker_month_feb" class="container_datepicker_month_feb" value="{f:translate(key: 'datepicker_month_feb')}" />
	<input type="hidden" name="container_datepicker_month_mar" class="container_datepicker_month_mar" value="{f:translate(key: 'datepicker_month_mar')}" />
	<input type="hidden" name="container_datepicker_month_apr" class="container_datepicker_month_apr" value="{f:translate(key: 'datepicker_month_apr')}" />
	<input type="hidden" name="container_datepicker_month_may" class="container_datepicker_month_may" value="{f:translate(key: 'datepicker_month_may')}" />
	<input type="hidden" name="container_datepicker_month_jun" class="container_datepicker_month_jun" value="{f:translate(key: 'datepicker_month_jun')}" />
	<input type="hidden" name="container_datepicker_month_jul" class="container_datepicker_month_jul" value="{f:translate(key: 'datepicker_month_jul')}" />
	<input type="hidden" name="container_datepicker_month_aug" class="container_datepicker_month_aug" value="{f:translate(key: 'datepicker_month_aug')}" />
	<input type="hidden" name="container_datepicker_month_sep" class="container_datepicker_month_sep" value="{f:translate(key: 'datepicker_month_sep')}" />
	<input type="hidden" name="container_datepicker_month_oct" class="container_datepicker_month_oct" value="{f:translate(key: 'datepicker_month_oct')}" />
	<input type="hidden" name="container_datepicker_month_nov" class="container_datepicker_month_nov" value="{f:translate(key: 'datepicker_month_nov')}" />
	<input type="hidden" name="container_datepicker_month_dec" class="container_datepicker_month_dec" value="{f:translate(key: 'datepicker_month_dec')}" />
</div>