{namespace vh=Tx_Powermail_ViewHelpers}

<div id="powermail_fieldwrap_{field.uid}" class="powermail_fieldwrap powermail_fieldwrap_password powermail_fieldwrap_{field.uid} {field.css}">
	<label for="powermail_field_{field.marker}" class="powermail_label">
		{field.title}<f:if condition="{field.mandatory}"><span class="mandatory">*</span></f:if>
	</label>

	<f:form.password id="powermail_field_{field.marker}" name="field[{field.uid}]" value="" class="powermail_field powermail_password {vh:Misc.ErrorClass(field: '{field}', class: 'powermail_field_error')}" />
</div>

<div id="powermail_fieldwrap_{field.uid}_1" class="powermail_fieldwrap powermail_fieldwrap_password powermail_fieldwrap_{field.uid} {field.css}">
	<label for="powermail_field_{field.marker}_1" class="powermail_label">
		<f:translate key="writePasswordAgain" /><f:if condition="{field.mandatory}"><span class="mandatory">*</span></f:if>
	</label>

	<f:form.password id="powermail_field_{field.marker}_1" name="field[{field.uid}]_1" value="" class="powermail_field powermail_password {vh:Misc.ErrorClass(field: '{field}', class: 'powermail_field_error')}" />
</div>