{namespace vh=Tx_Powermail_ViewHelpers}

<div id="powermail_fieldwrap_{field.uid}" class="powermail_fieldwrap powermail_fieldwrap_radio powermail_fieldwrap_{field.uid} {field.css}">
	<fieldset>
		<legend class="powermail_label powermail_radio_legend">
			<vh:string.RawAndRemoveXss>{field.title}</vh:string.RawAndRemoveXss><f:if condition="{field.mandatory}"><span class="mandatory">*</span></f:if>
		</legend>

		<div class="powermail_radio_outer">
			<f:for each="{field.settings}" as="setting" iteration="index">
				<div class="powermail_radio_inner powermail_radio_inner_{index.cycle}">
					<f:form.radio name="field[{field.uid}]" value="{setting.value}" checked="{vh:Misc.PrefillField(field: '{field}', cycle: '{index.cycle}')}" id="powermail_field_{field.uid}_{index.cycle}" class="powermail_radio {vh:Misc.ValidationClass(field: '{field}')}" />
					<label for="powermail_field_{field.uid}_{index.cycle}">
						<vh:string.RawAndRemoveXss>{setting.label}</vh:string.RawAndRemoveXss>
					</label>
				</div>
			</f:for>
		</div>
	</fieldset>
</div>
