{namespace vh=In2code\Powermail\ViewHelpers}
<f:be.container
		includeCssFiles="{0: '{f:uri.resource(path:\'Css/Backend.css\')}'}"
		includeRequireJsModules="{0: 'TYPO3/CMS/Powermail/Powermail/Backend.min'}"
		pageTitle="powermail">

	<div class="module">
		<div class="module-docheader">
			<div class="typo3-docheader-functions">
				<div class="module-docheader-bar module-docheader-bar-navigation">
					<div class="module-docheader-bar-column-left">
						<div class="btn-group btn-group-xs" role="group">
							<f:link.action action="list" class="btn btn-default{vh:be.getClassNameOnAction(actionName:'list')}">
								<f:translate key="BackendSelectionList">Mail list</f:translate>
							</f:link.action>
							<f:link.action action="overviewBe" class="btn btn-default{vh:be.getClassNameOnAction(actionName:'overviewBe')}">
								<f:translate key="BackendSelectionOverview">Form overview</f:translate>
							</f:link.action>
							<f:link.action action="reportingFormBe" class="btn btn-default{vh:be.getClassNameOnAction(actionName:'reportingFormBe')}">
								<f:translate key="BackendSelectionReportingForm">Answer reporting</f:translate>
							</f:link.action>
							<f:if condition="{vh:condition.isMarketingInformationEnabledGlobally()}">
								<f:link.action action="reportingMarketingBe" class="btn btn-default{vh:be.getClassNameOnAction(actionName:'reportingMarketingBe')}">
									<f:translate key="BackendSelectionReportingMarketing">Marketing analysis</f:translate>
								</f:link.action>
							</f:if>
							<f:if condition="{vh:be.isAdmin()}">
								<f:link.action action="checkBe" class="btn btn-default{vh:be.getClassNameOnAction(actionName:'checkBe')}">
									<f:translate key="BackendSelectionCheck">Function check</f:translate>
								</f:link.action>
							</f:if>
						</div>
					</div>
					<div class="module-docheader-bar-column-right">
						<f:be.pagePath />
					</div>
				</div>
			</div>
			<div class="module-docheader-bar module-docheader-bar-buttons">
				<div class="module-docheader-bar-column-left">
					&nbsp;
				</div>
				<div class="module-docheader-bar-column-right">
					<f:be.buttons.shortcut />
				</div>
			</div>
		</div>
		<div class="module-body powermail-backend">
			<f:alias map="{flashMessageClass:''}">
				<f:render partial="Misc/FlashMessages" arguments="{_all}" />
			</f:alias>

			<f:render section="content" />
		</div>
	</div>
</f:be.container>
