{namespace vh=In2code\Powermail\ViewHelpers}
<f:be.container
		includeCssFiles="{0: '{f:uri.resource(path:\'Css/Backend.css\')}'}"
		includeJsFiles="{0: '{f:uri.resource(path:\'JavaScripts/jquery-ui-1.10.4.custom.min.js\')}',
			1: '{f:uri.resource(path:\'JavaScripts/jquery.datetimepicker.js\')}',
			2: '{f:uri.resource(path:\'JavaScripts/be_effects.js\')}'}"
		enableClickMenu="false"
		loadExtJs="false"
		loadExtJsTheme="false"
		loadPrototype="false"
		loadScriptaculous="false"
		enableExtJsDebug="false"
		loadJQuery="true">

	<div class="overlay"></div>

	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div id="typo3-docheader-row1">
				<div class="buttonsleft">
					&nbsp;
				</div>
				<div class="buttonsright">
					<f:be.buttons.shortcut />
				</div>
			</div>
			<div id="typo3-docheader-row2">
				<div class="docheader-row2-left typo3-docheader-functions powermail-backend-select">
					<f:be.menus.actionMenu>
						<f:be.menus.actionMenuItem label="{f:translate(key: 'BackendSelectionList')}" controller="Module" action="listBe" />
						<f:be.menus.actionMenuItem label="{f:translate(key: 'BackendSelectionReporting')}" controller="Module" action="reportingBe" />
						<f:be.menus.actionMenuItem label="- {f:translate(key: 'BackendSelectionReportingForm')}" controller="Module" action="reportingFormBe" />
						<f:be.menus.actionMenuItem label="- {f:translate(key: 'BackendSelectionReportingMarketing')}" controller="Module" action="reportingMarketingBe" />
						<f:be.menus.actionMenuItem label="{f:translate(key: 'BackendSelectionTools')}" controller="Module" action="toolsBe" />
						<f:be.menus.actionMenuItem label="- {f:translate(key: 'BackendSelectionOverview')}" controller="Module" action="overviewBe" />
						<f:if condition="{vh:BeCheck.IsAdmin()}"><f:be.menus.actionMenuItem label="- {f:translate(key: 'BackendSelectionCheck')}" controller="Module" action="checkBe" /></f:if>
						<f:if condition="{vh:BeCheck.IsAdmin()}"><f:be.menus.actionMenuItem label="- {f:translate(key: 'BackendSelectionConverterTitle')}" controller="Module" action="converterBe" /></f:if>
					</f:be.menus.actionMenu>
				</div>
				<div class="docheader-row2-right">
					<f:be.pagePath />
				</div>
			</div>
		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody" class="powermail-backend">
				<f:flashMessages renderMode="div" />
				<f:render section="content" />
			</div>
		</div>
	</div>
</f:be.container>