{namespace vh=In2code\Powermail\ViewHelpers}

<div id="powermail_fieldwrap_{field.uid}" class="powermail_fieldwrap powermail_fieldwrap_captcha powermail_fieldwrap_{field.uid} {field.css}">
	<label for="powermail_field_{field.marker}" class="powermail_label" title="{field.description}">
		<vh:string.RawAndRemoveXss>{field.title}</vh:string.RawAndRemoveXss><f:if condition="{field.mandatory}"><span class="mandatory">*</span></f:if>
	</label>

	<div class="powermail_captcha_outer {vh:Validation.ErrorClass(field: '{field}', class: 'powermail_field_error')}">
		<f:form.textfield
				id="powermail_field_{field.marker}"
				property="{field.marker}"
				value=""
				class="powermail_field powermail_captcha {vh:Validation.ErrorClass(field:field, class:'powermail_field_error')}"
				additionalAttributes="{vh:Validation.ValidationDataAttribute(field:field)}" />
		<img src="{vh:Validation.Captcha()}" alt="captcha" class="powermail_captchaimage" id="powermail_captchaimage" />

		<div class="powermail_field_error_container powermail_field_error_container_{field.marker}"></div>
	</div>
</div>