{namespace vh=In2code\Powermail\ViewHelpers}
<fieldset class="powermail_fieldset powermail_fieldset_{page.uid} {page.css}">
    <f:if condition="{page.css} != 'nolabel'">
        <legend class="powermail_legend">{page.title}</legend>
    </f:if>

    <f:for each="{page.fields}" as="field" iteration="iteration">
        <vh:misc.createRowTags columns="{settings.styles.numberOfColumns}" class="{settings.styles.framework.rowClasses}" iteration="{iteration}">
            <f:render partial="Form/Field/{vh:String.Upper(string:field.type)}" arguments="{field:field}"/>
        </vh:misc.createRowTags>
    </f:for>

    <f:if condition="{settings.main.moresteps}">
        <div class="powermail_fieldwrap powermail_tab_navigation">
            <f:if condition="!{iterationPages.isLast}">
                <button type="button" class="btn btn-primary pull-right" data-powermail-morestep-show="{iterationPages.cycle}">&gt;</button>
            </f:if>
            <f:if condition="!{iterationPages.isFirst}">
                <button type="button" class="btn btn-warning" data-powermail-morestep-show="{iterationPages.index - 1}">&lt;</button>
            </f:if>
        </div>
    </f:if>
</fieldset>
