{namespace vh=In2code\Powermail\ViewHelpers}

<div id="powermail_fieldwrap_{field.uid}" class="powermail_fieldwrap powermail_fieldwrap_textarea powermail_fieldwrap_{field.uid} {field.css}">

	<label for="powermail_field_{field.marker}" class="powermail_label" title="{field.description}">
		<vh:string.RawAndRemoveXss>{field.title}</vh:string.RawAndRemoveXss><f:if condition="{field.mandatory}"><span class="mandatory">*</span></f:if>
	</label>

	<f:form.textarea
			cols="20"
			rows="5"
			id="powermail_field_{field.marker}"
			property="{field.marker}"
			value="{vh:Misc.PrefillField(field:field, mail:mail)}"
			additionalAttributes="{vh:Validation.ValidationDataAttribute(field:field)}"
			class="powermail_field powermail_textarea {vh:Validation.ErrorClass(field:field, class:'powermail_field_error')}" />
</div>
