{namespace vh=Tx_Powermail_ViewHelpers}
<f:layout name="Default" />

Render Powermail Thx Page
{powermail_rte}					Variable is filled with values from RTE in backend
{powermail_all}					Outputs all fields
{marker1}, {firstname}, etc..	Outputs a field
NOTE: See example section after main section



<f:section name="main">
	<div class="powermail_create">
		<f:if condition="{optinActive}">
			<f:else>
				<vh:Misc.Variables variablesMarkers="{variablesWithMarkers}" variablesLabels="{variablesWithLabels}">
					<f:format.html parseFuncTSPath="lib.parseFunc">
						{powermail_rte}
					</f:format.html>
				</vh:Misc.Variables>

				<f:render partial="GoogleAdwordsConversion" />
			</f:else>
			<f:then>
				<f:translate key="optin_seeMail" />
			</f:then>
		</f:if>
	</div>
</f:section>







THIS IS ONLY AN EXAMPLE SECTION

<f:section name="example">
	<f:flashMessages class="powermail_message powermail_message_{messageClass}" />

	1. Get values from RTE from Backend:
	<vh:Misc.Variables variablesMarkers="{variablesWithMarkers}" variablesLabels="{variablesWithLabels}">
		<f:format.html parseFuncTSPath="lib.parseFunc">
			{powermail_rte}
		</f:format.html>
	</vh:Misc.Variables>


	2. Get all Values by using powermail_all
	<f:format.raw>
		{powermail_all}
	</f:format.raw>

	3. Get some lonely fields
	Hi {firstname} {lastname}, this is a test...

</f:section>