{namespace vh=Tx_Powermail_ViewHelpers}
<f:layout name="PowermailAll" />

Render Powermail All Part
{variables}			Contains all given Plugins variables
{section}			Contains "web" or "mail"


Section for Web view

<f:section name="web">
	<vh:string.RawAndRemoveXss>
		<f:for each="{variables}" as="variable" key="label">
			<dl class="powermail_all">
				<dt>{label}</dt>
				<dd>
					<f:if condition="{vh:Condition.IsArray(val: '{variable}')}">
						<f:then>
							<f:for each="{variable}" as="variable2" iteration="index">
								<f:if condition="{variable2}">
									{variable2}<f:if condition="{index.isLast}"><f:else>, </f:else></f:if>
								</f:if>
							</f:for>
						</f:then>
						<f:else>
							<f:format.nl2br>{variable}</f:format.nl2br>
						</f:else>
					</f:if>
				</dd>
			</dl>
		</f:for>

		<div class="clear"></div>
	</vh:string.RawAndRemoveXss>
</f:section>



Section for Mails

<f:section name="mail">
	<vh:string.RawAndRemoveXss>
		<table class="powermail_all">
			<f:for each="{variables}" as="variable" key="label">
				<tr>
					<td valign="top">
						<b>{label}</b>
					</td>
					<td valign="top">
						<f:if condition="{vh:Condition.IsArray(val: '{variable}')}">
							<f:then>
								<f:for each="{variable}" as="variable2" iteration="index">
									<f:if condition="{variable2}">
										{variable2}<f:if condition="{index.isLast}"><f:else>, </f:else></f:if>
									</f:if>
								</f:for>
							</f:then>
							<f:else>
								<f:format.nl2br>{variable}</f:format.nl2br>
							</f:else>
						</f:if>
					</td>
				</tr>
			</f:for>
		</table>
	</vh:string.RawAndRemoveXss>
</f:section>