Powermail HTML Template for fieldwraps

	--- GLOBAL MARKERS ---
	###LABEL###					Field label
	###LABEL_NAME###			"uid" + uid
	###MANDATORY_SYMBOL###		Symbol if mandatory field
	###NAME###					Field name
    ###DESCRIPTION###			Field Description with wrap from constants
	###VALUE###					Standard-value
	###CLASS###					Field's class
	###CLASS_ADDITIONAL###      Additional class set in fields, without class attribute
	###ID###					Field's id
	###SIZE###					Field's size
	###MULTIPLE###				If multiple is allowed in select
	###MAXLENGTH###				Field's maximum length
	###READONLY###				Is this field readonly?
	###POWERMAIL_FIELD_UID###	UID of current field
	###COLS###					Rows for textarea
	###ROWS###					Cols for textarea
	###ONFOCUS###				includes eventhandlers like onFocus and onBlur
	###ONCHANGE###				includes eventhandlers for changing fields like select
	###TABINDEX###				Uses tabindex (automaticly or via constants)
	###ACCESSKEY###				Uses acceskeys if set in constants
	###JS###					Fields: Could be used in different powermail extensions to add eventhandler, etc...
	###JS_INNER###				Fields: Could be used in different powermail extensions to add eventhandler in the innerMarkerArray, etc... (radiobuttons, checkboxes, etc...)
	###VALIDATION###			Validation
	###VALIDATION_INNER###		Validation
    ###DIVJS###					DIV arround Fields: Could be used in different powermail extensions to add eventhandler, etc...
    ###POWERMAIL_TARGET### 		Link to the same page (could be used for different javascripts, etc..)
    ###POWERMAIL_NAME###		Form name (could be used for different javascripts, etc..)
    ###ALTERNATE###				Will be filled with odd or with even
	###REQUIRED###				HTML5 required attribute
	###MIN###					HTML5 min attribute
	###MAX###					HTML5 max attribute
	###STEP###					HTML5 step attribute
	###PATTERN###				HTML5 pattern attribute
	###PLACEHOLDER###			HTML5 placeholder attribute
	
	--- GENERAL MARKERS --
	Displaying any value from pi1/locallang.xml:		###POWERMAIL_LOCALLANG_YOURFIELD### (Could be filled via locallang.xml or typoscript - see manual for details)
	Displaying any value from typoscript:				###POWERMAIL_TYPOSCRIPT_YOURFIELD### (Could be filled via typoscript - see manual for details)






Fieldwrap for Text fields like <input type="text" />

<!-- ###POWERMAIL_FIELDWRAP_HTML_TEXT### begin -->
	<div id="powermaildiv_uid###POWERMAIL_FIELD_UID###" class="tx_powermail_pi1_fieldwrap_html tx_powermail_pi1_fieldwrap_html_text tx_powermail_pi1_fieldwrap_html_###POWERMAIL_FIELD_UID######ALTERNATE######CLASS_ADDITIONAL###"###DIVJS###>
		<label for="###LABEL_NAME###">###LABEL######DESCRIPTION######MANDATORY_SYMBOL###</label>
		<input type="###TYPE###" ###ONFOCUS######NAME######VALUE######CLASS######ID######SIZE######MAXLENGTH######READONLY######TABINDEX######ACCESSKEY######JS######REQUIRED######MIN######MAX######STEP######PATTERN######PLACEHOLDER###/>
	</div>
<!-- ###POWERMAIL_FIELDWRAP_HTML_TEXT### end -->





Fieldwrap for Textareas like <textarea>

	Special markers:
	###WRAP###			Textwrapping for textarea

<!-- ###POWERMAIL_FIELDWRAP_HTML_TEXTAREA### begin -->
	<div id="powermaildiv_uid###POWERMAIL_FIELD_UID###" class="tx_powermail_pi1_fieldwrap_html tx_powermail_pi1_fieldwrap_html_textarea tx_powermail_pi1_fieldwrap_html_###POWERMAIL_FIELD_UID######ALTERNATE######CLASS_ADDITIONAL###"###DIVJS###>
		<label for="###LABEL_NAME###">###LABEL######DESCRIPTION######MANDATORY_SYMBOL###</label>
		<textarea ###NAME######CLASS######ID######ROWS######COLS######WRAP######ONFOCUS######MAXLENGTH######READONLY######TABINDEX######ACCESSKEY######JS######REQUIRED######PLACEHOLDER###>###VALUE###</textarea>
	</div>
<!-- ###POWERMAIL_FIELDWRAP_HTML_TEXTAREA### end -->





Fieldwrap for select fields (dropdown) like <select>

	Special markers:
	###SELECTED###		Preselection

<!-- ###POWERMAIL_FIELDWRAP_HTML_SELECT### begin -->
	<div id="powermaildiv_uid###POWERMAIL_FIELD_UID###" class="tx_powermail_pi1_fieldwrap_html tx_powermail_pi1_fieldwrap_html_select tx_powermail_pi1_fieldwrap_html_###POWERMAIL_FIELD_UID######ALTERNATE######CLASS_ADDITIONAL###"###DIVJS###>
		<label for="###LABEL_NAME###">###LABEL######DESCRIPTION######MANDATORY_SYMBOL###</label>
		<select ###NAME######ID######CLASS######ONCHANGE######ONFOCUS######SIZE######TABINDEX######ACCESSKEY######MULTIPLE######JS######REQUIRED###>
		 <!-- ###CONTENT### -->
		 	<!-- ###ITEM### -->
		 		<option value="###VALUE###"###SELECTED######JS_INNER######VALIDATION_INNER###>###LABEL###</option>
		 	<!-- ###ITEM### -->
		 <!-- ###CONTENT### -->
		 </select>
	</div>
<!-- ###POWERMAIL_FIELDWRAP_HTML_SELECT### end -->





Fieldwrap for checkboxen like <input type="checkbox" />

	Special markers:
	###CHECKED###		Preselection

NEW HTML Template for checkboxes (uses hidden fields)
<!-- ###POWERMAIL_FIELDWRAP_HTML_CHECKJS### begin -->
	<div id="powermaildiv_uid###POWERMAIL_FIELD_UID###" class="tx_powermail_pi1_fieldwrap_html tx_powermail_pi1_fieldwrap_html_check tx_powermail_pi1_fieldwrap_html_###POWERMAIL_FIELD_UID######ALTERNATE######CLASS_ADDITIONAL###"###DIVJS###>
		<fieldset>
			<legend class="tx_powermail_pi1_fieldwrap_html_checkbox_title">###LABEL_MAIN######DESCRIPTION######MANDATORY_SYMBOL###</legend>
				 <!-- ###CONTENT### begin -->
				 	<!-- ###ITEM### begin -->
						<div class="powermail_check_inner powermail_check_inner_###LABEL_NAME###">
							<input type="checkbox" name="check_###LABEL_NAME###" onclick="###JS_INNER###" id="check_###LABEL_NAME###" ###CHECKED######CLASS######ACCESSKEY######TABINDEX######VALIDATION_INNER######REQUIRED###/>
							<input type="hidden" ###VALUE### id="value_###LABEL_NAME###" />
							<input type="hidden" ###ID######NAME######HIDDENVALUE###/>
							<label for="check_###LABEL_NAME###">###LABEL###</label>
						</div>
				 	<!-- ###ITEM### end -->
				 <!-- ###CONTENT### end -->
		</fieldset>
	</div>
<!-- ###POWERMAIL_FIELDWRAP_HTML_CHECKJS### end -->

OLD HTML Template for checkboxes (don't use hidden fields - just checkboxes)
<!-- ###POWERMAIL_FIELDWRAP_HTML_CHECK### begin -->
	<div id="powermaildiv_uid###POWERMAIL_FIELD_UID###" class="tx_powermail_pi1_fieldwrap_html tx_powermail_pi1_fieldwrap_html_check tx_powermail_pi1_fieldwrap_html_###POWERMAIL_FIELD_UID######ALTERNATE######CLASS_ADDITIONAL###"###DIVJS###>
		<fieldset>
			<legend class="tx_powermail_pi1_fieldwrap_html_checkbox_title">###LABEL_MAIN######DESCRIPTION######MANDATORY_SYMBOL###</legend>
				 <!-- ###CONTENT### begin -->
				 	<!-- ###ITEM### begin -->
						<div class="powermail_check_inner powermail_check_inner_###LABEL_NAME###">
							<input type="checkbox" ###NAME######VALUE######CLASS######ID######CHECKED######ACCESSKEY######TABINDEX######JS_INNER######VALIDATION_INNER###/>
							<label for="###LABEL_NAME###">###LABEL###</label>
						</div>
				 	<!-- ###ITEM### end -->
				 <!-- ###CONTENT### end -->
		</fieldset>
	</div>
<!-- ###POWERMAIL_FIELDWRAP_HTML_CHECK### end -->





Fieldwrap for radiobuttons like <input type="radio" />

	Special markers:
	###CHECKED###		Preselection

<!-- ###POWERMAIL_FIELDWRAP_HTML_RADIO### begin -->
	<div id="powermaildiv_uid###POWERMAIL_FIELD_UID###" class="tx_powermail_pi1_fieldwrap_html tx_powermail_pi1_fieldwrap_html_radio tx_powermail_pi1_fieldwrap_html_###POWERMAIL_FIELD_UID######ALTERNATE######CLASS_ADDITIONAL###"###DIVJS###>
        <fieldset>
			<legend class="tx_powermail_pi1_fieldwrap_html_radio_title">###LABEL_MAIN######DESCRIPTION######MANDATORY_SYMBOL###</legend>
			<!--###CONTENT### begin -->
				<!--###ITEM### begin-->
                    <div class="powermail_radio_inner powermail_radio_inner_###LABEL_NAME######MANDATORY_HELPER###">
                        <input type="radio" ###NAME######VALUE######CLASS######ID######CHECKED######ACCESSKEY######TABINDEX######JS_INNER######VALIDATION_INNER######REQUIRED###/>
                        <label for="###LABEL_NAME###">###LABEL###</label>
                    </div>
                <!--###ITEM### end-->
            <!--###CONTENT### end-->
        </fieldset>
	</div>
<!-- ###POWERMAIL_FIELDWRAP_HTML_RADIO### end -->




Fieldwrap for captcha request

	Special markers:
	###POWERMAIL_CAPTCHA_PICTURE###            Captcha picture
	###POWERMAIL_CAPTCHA_DESCRIPTION###        Captcha description from backend
	###POWERMAIL_CAPTCHA_PICTURERELOAD###      Link to reload captcha (sr_freecap only)
	###POWERMAIL_CAPTCHA_ACCESSIBLE###         Link for audio (sr_freecap only)

<!-- ###POWERMAIL_FIELDWRAP_HTML_CAPTCHA### begin -->
	<div id="powermaildiv_uid###POWERMAIL_FIELD_UID###" class="tx_powermail_pi1_fieldwrap_html tx_powermail_pi1_fieldwrap_html_captcha tx_powermail_pi1_fieldwrap_html_###POWERMAIL_FIELD_UID######ALTERNATE######CLASS_ADDITIONAL###"###DIVJS###>
		<label for="###LABEL_NAME###">###LABEL######DESCRIPTION######MANDATORY_SYMBOL###</label>
		<input type="text" value="" ###ONFOCUS######NAME######CLASS######ID######SIZE######MAXLENGTH######READONLY######TABINDEX######ACCESSKEY######JS######REQUIRED######PLACEHOLDER###/>
		###POWERMAIL_CAPTCHA_PICTURE###
		###POWERMAIL_CAPTCHA_PICTURERELOAD###
		###POWERMAIL_CAPTCHA_ACCESSIBLE###
        <div class="tx_powermail_pi1_fieldwrap_html_captcha_description">###POWERMAIL_CAPTCHA_DESCRIPTION###</div>
	</div>
<!-- ###POWERMAIL_FIELDWRAP_HTML_CAPTCHA### end -->

<!-- ###POWERMAIL_FIELDWRAP_HTML_RECAPTCHA### begin -->
	<div id="powermaildiv_uid###POWERMAIL_FIELD_UID###" class="tx_powermail_pi1_fieldwrap_html tx_powermail_pi1_fieldwrap_html_captcha tx_powermail_pi1_fieldwrap_html_###POWERMAIL_FIELD_UID######ALTERNATE######CLASS_ADDITIONAL###"###DIVJS###>
		<label for="###LABEL_NAME###">###LABEL######DESCRIPTION######MANDATORY_SYMBOL###</label>
        ###POWERMAIL_CAPTCHA_PICTURE###
        <div class="tx_powermail_pi1_fieldwrap_html_captcha_description">###POWERMAIL_CAPTCHA_DESCRIPTION###</div>
    </div>
<!-- ###POWERMAIL_FIELDWRAP_HTML_RECAPTCHA### end -->





Fieldwrap for submit buttons like <input type="submit" />
<!-- ###POWERMAIL_FIELDWRAP_HTML_SUBMIT### begin -->
	<div id="powermaildiv_uid###POWERMAIL_FIELD_UID###" class="tx_powermail_pi1_fieldwrap_html tx_powermail_pi1_fieldwrap_html_submit tx_powermail_pi1_fieldwrap_html_###POWERMAIL_FIELD_UID######ALTERNATE######CLASS_ADDITIONAL###"###DIVJS###>
		<input type="submit" ###VALUE######CLASS######TABINDEX######ACCESSKEY######JS######REQUIRED###/>
	</div>
<!-- ###POWERMAIL_FIELDWRAP_HTML_SUBMIT### end -->





Fieldwrap for reset buttons like <input type="reset" />
<!-- ###POWERMAIL_FIELDWRAP_HTML_RESET### begin -->
	<div id="powermaildiv_uid###POWERMAIL_FIELD_UID###" class="tx_powermail_pi1_fieldwrap_html tx_powermail_pi1_fieldwrap_html_reset tx_powermail_pi1_fieldwrap_html_###POWERMAIL_FIELD_UID######ALTERNATE######CLASS_ADDITIONAL###"###DIVJS###>
		<input type="reset" ###VALUE######CLASS######TABINDEX######ACCESSKEY######JS######REQUIRED###/>
	</div>
<!-- ###POWERMAIL_FIELDWRAP_HTML_RESET### end -->





Fieldwrap for labels like "blabla"
<!-- ###POWERMAIL_FIELDWRAP_HTML_LABEL### begin -->
	<div id="powermaildiv_uid###POWERMAIL_FIELD_UID###" class="tx_powermail_pi1_fieldwrap_html tx_powermail_pi1_fieldwrap_html_label tx_powermail_pi1_fieldwrap_html_###POWERMAIL_FIELD_UID######ALTERNATE######CLASS_ADDITIONAL###"###DIVJS###>
		###CONTENT###
		###HIDDEN###
	</div>
<!-- ###POWERMAIL_FIELDWRAP_HTML_LABEL### end -->





Fieldwrap for pure html
<!-- ###POWERMAIL_FIELDWRAP_HTML_HTML### begin -->
	<div id="powermaildiv_uid###POWERMAIL_FIELD_UID###" class="tx_powermail_pi1_fieldwrap_html tx_powermail_pi1_fieldwrap_html_html tx_powermail_pi1_fieldwrap_html_###POWERMAIL_FIELD_UID######ALTERNATE######CLASS_ADDITIONAL###"###DIVJS###>
		###CONTENT###
		###HIDDEN###
	</div>
<!-- ###POWERMAIL_FIELDWRAP_HTML_HTML### end -->





Fieldwrap for page-contents
<!-- ###POWERMAIL_FIELDWRAP_HTML_CONTENT### begin -->
	<div id="powermaildiv_uid###POWERMAIL_FIELD_UID###" class="tx_powermail_pi1_fieldwrap_html tx_powermail_pi1_fieldwrap_html_content tx_powermail_pi1_fieldwrap_html_###POWERMAIL_FIELD_UID######ALTERNATE######CLASS_ADDITIONAL###"###DIVJS###>
		###CONTENT###
		###HIDDEN###
	</div>
<!-- ###POWERMAIL_FIELDWRAP_HTML_CONTENT### end -->





Fieldwrap for password fields like <input type="password" />
<!-- ###POWERMAIL_FIELDWRAP_HTML_PASSWORD### begin -->
	<div id="powermaildiv_uid###POWERMAIL_FIELD_UID###" class="tx_powermail_pi1_fieldwrap_html tx_powermail_pi1_fieldwrap_html_password tx_powermail_pi1_fieldwrap_html_###POWERMAIL_FIELD_UID######ALTERNATE######CLASS_ADDITIONAL###"###DIVJS###>
		<label for="###LABEL_NAME###">###LABEL######DESCRIPTION######MANDATORY_SYMBOL###</label>
		<input type="password" ###NAME######CLASS######ID######SIZE######ONFOCUS######MAXLENGTH######READONLY######TABINDEX######ACCESSKEY######JS######REQUIRED###/>
	</div>
<!-- ###POWERMAIL_FIELDWRAP_HTML_PASSWORD### end -->





Fieldwrap for file fields like <input type="file" />
<!-- ###POWERMAIL_FIELDWRAP_HTML_FILE### begin -->
	<div id="powermaildiv_uid###POWERMAIL_FIELD_UID###" class="tx_powermail_pi1_fieldwrap_html tx_powermail_pi1_fieldwrap_html_file tx_powermail_pi1_fieldwrap_html_###POWERMAIL_FIELD_UID######ALTERNATE######CLASS_ADDITIONAL###"###DIVJS###>
		<label for="###LABEL_NAME###">###LABEL######DESCRIPTION######MANDATORY_SYMBOL###</label>
		<input type="file" ###NAME######CLASS######ID######SIZE######TABINDEX######ACCESSKEY######JS######REQUIRED###/>
	</div>
<!-- ###POWERMAIL_FIELDWRAP_HTML_FILE### end -->

<!-- ###POWERMAIL_FIELDWRAP_HTML_FILE_LIST### begin -->
	<div id="powermaildiv_uid###POWERMAIL_FIELD_UID###" class="tx_powermail_pi1_fieldwrap_html tx_powermail_pi1_fieldwrap_html_file tx_powermail_pi1_fieldwrap_html_###POWERMAIL_FIELD_UID######ALTERNATE######CLASS_ADDITIONAL###"###DIVJS###>
		###FILE###
		<a href="###DELETEFILE_URL###"><img src="###DELETEFILE###" alt="delete" /></a>
	</div>
<!-- ###POWERMAIL_FIELDWRAP_HTML_FILE_LIST### end -->





Fieldwrap for hidden fields like <input type="hidden" />
<!-- ###POWERMAIL_FIELDWRAP_HTML_HIDDEN### begin -->
	<input type="hidden" ###ID######NAME######VALUE###/>
<!-- ###POWERMAIL_FIELDWRAP_HTML_HIDDEN### end -->





Fieldwrap for text fields with datetime help
<!-- ###POWERMAIL_FIELDWRAP_HTML_DATETIME### begin -->
	<div id="powermaildiv_uid###POWERMAIL_FIELD_UID###" class="tx_powermail_pi1_fieldwrap_html tx_powermail_pi1_fieldwrap_html_datetime tx_powermail_pi1_fieldwrap_html_###POWERMAIL_FIELD_UID######ALTERNATE######CLASS_ADDITIONAL###"###DIVJS###>
		<label for="###LABEL_NAME###">###LABEL######DESCRIPTION######MANDATORY_SYMBOL###</label>
		<input type="date" id="###LABEL_NAME###" name="###LABEL_NAME###" autocomplete="off" ###CLASS######SIZE######MAXLENGTH######MIN######MAX######READONLY######TABINDEX######ACCESSKEY######REQUIRED######PLACEHOLDER###/>
        <input type="hidden" ###ID######NAME######VALUE###/>
        <input type="time" id="###LABEL_NAME###_time" name="###LABEL_NAME###_time" size="5" maxlength="5" ###CLASS######READONLY######REQUIRED###/>
	</div>
<!-- ###POWERMAIL_FIELDWRAP_HTML_DATETIME### end -->





Fieldwrap for text fields with date help
<!-- ###POWERMAIL_FIELDWRAP_HTML_DATE### begin -->
	<div id="powermaildiv_uid###POWERMAIL_FIELD_UID###" class="tx_powermail_pi1_fieldwrap_html tx_powermail_pi1_fieldwrap_html_date tx_powermail_pi1_fieldwrap_html_###POWERMAIL_FIELD_UID######ALTERNATE######CLASS_ADDITIONAL###"###DIVJS###>
		<label for="###LABEL_NAME###">###LABEL######DESCRIPTION######MANDATORY_SYMBOL###</label>
		<input type="date" id="###LABEL_NAME###" name="###LABEL_NAME###" autocomplete="off" ###CLASS######SIZE######MIN######MAX######READONLY######TABINDEX######ACCESSKEY######REQUIRED######PLACEHOLDER###/>
		<input type="hidden" ###ID######NAME######VALUE###/>
	</div>
<!-- ###POWERMAIL_FIELDWRAP_HTML_DATE### end -->



Fieldwrap for button fields like <input type="button" />
<!-- ###POWERMAIL_FIELDWRAP_HTML_BUTTON### begin -->
	<div id="powermaildiv_uid###POWERMAIL_FIELD_UID###" class="tx_powermail_pi1_fieldwrap_html tx_powermail_pi1_fieldwrap_html_button tx_powermail_pi1_fieldwrap_html_###POWERMAIL_FIELD_UID######ALTERNATE######CLASS_ADDITIONAL###"###DIVJS###>
		<input type="button" ###NAME######VALUE######TABINDEX######ACCESSKEY######JS######REQUIRED###/>
	</div>
<!-- ###POWERMAIL_FIELDWRAP_HTML_BUTTON### end -->





Fieldwrap for submitgraphic buttons like <input type="image" />

	Special markers:
	###SRC###		imagesource

<!-- ###POWERMAIL_FIELDWRAP_HTML_SUBMITGRAPHIC### begin -->
	<div id="powermaildiv_uid###POWERMAIL_FIELD_UID###" class="tx_powermail_pi1_fieldwrap_html tx_powermail_pi1_fieldwrap_html_submitgraphic tx_powermail_pi1_fieldwrap_html_###POWERMAIL_FIELD_UID######ALTERNATE######CLASS_ADDITIONAL###"###DIVJS###>
		<input type="image" ###SRC######ALT######TABINDEX######ACCESSKEY######JS######REQUIRED###/>
	</div>
<!-- ###POWERMAIL_FIELDWRAP_HTML_SUBMITGRAPHIC### end -->





Fieldwrap for dropdown with countries <select>

	Special markers (Countryselect):
	###UID###						UID in tabel static_countries
	###CN_ISO_2###					Lang code with 2 letters
	###CN_ISO_3###					Lang code with 3 letters
	###CN_ISO_NR###					ISO No.
	###CN_PARENT_TR_ISO_NR###		Another ISO No.
	###CN_OFFICIAL_NAME_LOCAL###	Local name of country
	###CN_OFFICIAL_NAME_EN###		English name of country
	###CN_CAPITOL###				Counry capital
	###CN_TLDOMAIN###				Top level domain of country
	###CN_CURRENCY_ISO_3###			Currency
	###CN_CURRENCY_ISO_NR###		Currency No.
	###CN_PHONE###					Phone prefix
	###CN_EU_MEMBER###				Boolean code: 1 if EU member / 0 if not
	###CN_ADDRESS_FORMAT###			Address Format
	###CN_ZONE_FLAG###				Zone Flag
	###CN_SHORT_LOCAL###			Local short name
	###CN_SHORT_EN###				English short name
	###CN_SHORT_MERGE###			Short name from FE language (with fallback to default lang if not existing)
	###CN_UNO_MEMBER###				Boolean code: 1 if UNO member / 0 if not
	###SELECTED###					Preselection (if selected in backend or if in session)

	Special markers (Countryzoneselect):
	###UID###						UID in tabel static_country_zones
	###ZN_COUNTRY_ISO_2###			Country name in 2 letters
	###ZN_COUNTRY_ISO_2###			Country name in 3 letters
	###ZN_COUNTRY_ISO_NR###			Country ISO No.
	###ZN_CODE###					Short countryzone code with 2 letters
	###ZN_NAME_LOCAL###				Local countryzone name
	###ZN_NAME_EN###				English countryzone name (if filled)

<!-- ###POWERMAIL_FIELDWRAP_HTML_COUNTRYSELECT### begin -->
	<div id="powermaildiv_uid###POWERMAIL_FIELD_UID###" class="tx_powermail_pi1_fieldwrap_html tx_powermail_pi1_fieldwrap_html_select tx_powermail_pi1_fieldwrap_html_###POWERMAIL_FIELD_UID######ALTERNATE######CLASS_ADDITIONAL###"###DIVJS###>
		<label for="###LABEL_NAME###">###LABEL######DESCRIPTION######MANDATORY_SYMBOL###</label>
        <div id="powermail_countryzoneselect###POWERMAIL_FIELD_UID###" class="countryzone"></div>
		
		<select ###NAME######ID######CLASS######ONCHANGE######ONFOCUS######TABINDEX######ACCESSKEY######JS######REQUIRED###>
		<option value=""></option>
		 <!-- ###CONTENT### -->
		 	<!-- ###ITEM### -->
		 		<option value="###CN_ISO_2###"###SELECTED######JS_INNER###>###CN_SHORT_MERGE###</option>
		 	<!-- ###ITEM### -->
		 <!-- ###CONTENT### -->
		 </select>
	</div>
<!-- ###POWERMAIL_FIELDWRAP_HTML_COUNTRYSELECT### end -->

<!-- ###POWERMAIL_FIELDWRAP_HTML_COUNTRYZONESELECT### begin -->
	<select ###NAME######ID######CLASS######ONCHANGE######ONFOCUS######TABINDEX######ACCESSKEY######JS######REQUIRED###>
	<option value=""></option>
	<!-- ###CONTENT### -->
		<!-- ###ITEM### -->
			<option value="###ZN_CODE###"###SELECTED######JS_INNER###>###ZN_NAME_LOCAL###</option>
		<!-- ###ITEM### -->
	<!-- ###CONTENT### -->
	</select>
<!-- ###POWERMAIL_FIELDWRAP_HTML_COUNTRYZONESELECT### end -->
