Powermail HTML Template for confirmation page after submit

	-- CONFIRMATION MARKERS ---
	For displaying all fields and labels:				###POWERMAIL_ALL###
	Use special marker of any sent value: 				###UID5###
	Get label of any special value:		 				###LABEL_UID5###
	Confirmation message:								###POWERMAIL_LOCALLANG_CONFIRMATION_QUESTION###
	
	Form name (back to form)							###POWERMAIL_NAME_BACK###
	Form name (submit values)							###POWERMAIL_NAME_SUBMIT###
	Form target (back to form)							###POWERMAIL_TARGET_BACK###
	Form target (submit values)							###POWERMAIL_TARGET_SUBMIT###
	Submit value (back to form)							###POWERMAIL_LOCALLANG_CONFIRMATION_BACK###
	Submit value (submit values)						###POWERMAIL_LOCALLANG_CONFIRMATION_SUBMIT###
	
	--- GENERAL MARKERS --
	Displaying any value from pi1/locallang.xml:		###POWERMAIL_LOCALLANG_YOURFIELD### (Could be filled via locallang.xml or typoscript - see manual for details)
	Displaying any value from typoscript:				###POWERMAIL_TYPOSCRIPT_YOURFIELD### (Could be filled via typoscript - see manual for details)

<!-- ###POWERMAIL_CONFIRMATION### begin -->
	<div class="tx-powermail-pi1_confirmation">
		<p>###POWERMAIL_LOCALLANG_CONFIRMATION_QUESTION###</p>
		
		###POWERMAIL_ALL###
		
		<form name="###POWERMAIL_NAME_BACK###" action="###POWERMAIL_TARGET_BACK###" method="post" class="tx_powermail_pi1_formconfirmation_back">
			<input type="submit" value="###POWERMAIL_LOCALLANG_CONFIRMATION_BACK###" class="tx-powermail-pi1_confirmation tx-powermail-pi1_confirmation_back" />
		</form>
		<form name="###POWERMAIL_NAME_SUBMIT###" action="###POWERMAIL_TARGET_SUBMIT###" method="post" class="tx_powermail_pi1_formconfirmation_submit">
			<input type="submit" value="###POWERMAIL_LOCALLANG_CONFIRMATION_SUBMIT###" class="tx-powermail-pi1_confirmation tx-powermail-pi1_confirmation_submit" />
		</form>
	</div>
<!-- ###POWERMAIL_CONFIRMATION### end -->