Powermail HTML Template for email: Mail to receiver
	
	--- EMAIL RECIPIENT MARKERS ---
	Get values from RTE in backend:						###POWERMAIL_EMAILRECIPIENT_RTE###
	For displaying complete content: 					###POWERMAIL_ALL###
	Use special marker: 								###UID55###
	Get label of any special value:		 				###LABEL_UID5###
	Absolute path (baseurl):							###POWERMAIL_BASEURL### (http://www.test.com/)
	Relative upload folder:								###POWERMAIL_UPLOADFOLDER### (uploads/tx_powermail/files/)
	
	--- GENERAL MARKERS --
	Displaying any value from pi1/locallang.xml:		###POWERMAIL_LOCALLANG_YOURFIELD### (Could be filled via locallang.xml or typoscript - see manual for details)
	Displaying any value from typoscript:				###POWERMAIL_TYPOSCRIPT_YOURFIELD### (Could be filled via typoscript - see manual for details)

<!--###POWERMAIL_RECIPIENT_MAIL### start-->
	###POWERMAIL_EMAILRECIPIENT_RTE###
<!--###POWERMAIL_RECIPIENT_MAIL### stop-->





Powermail HTML Template for email: Mail to sender

	Get values from RTE in backend:						###POWERMAIL_EMAILSENDER_RTE###
	For displaying complete content: 					###POWERMAIL_ALL###
	Use special marker: 								###UID55###
	Get label of any special value:		 				###LABEL_UID5###
	Absolute path (baseurl):							###POWERMAIL_BASEURL### (http://www.test.com/)
	Relative upload folder:								###POWERMAIL_UPLOADFOLDER### (uploads/tx_powermail/files/)
	
	--- GENERAL MARKERS --
	Displaying any value from pi1/locallang.xml:		###POWERMAIL_LOCALLANG_YOURFIELD### (Could be filled via locallang.xml or typoscript - see manual for details)
	Displaying any value from typoscript:				###POWERMAIL_TYPOSCRIPT_YOURFIELD### (Could be filled via typoscript - see manual for details)

<!--###POWERMAIL_SENDER_MAIL### start-->
	###POWERMAIL_EMAILSENDER_RTE###
<!--###POWERMAIL_SENDER_MAIL### stop-->