Powermail HTML Template for formwrap
	
	--- MARKERS OUTSIDE SUBPARTS ---
	Form name (set in backend flexform):				###POWERMAIL_NAME###
	Target for form:				 					###POWERMAIL_ACTION###
	UID of content element: 							###POWERMAIL_FORM_UID###
	Pagebrowser (only if multiple):						###POWERMAIL_MULTIPLE_PAGEBROWSER###
    CSS classname (only if multiple):					###POWERMAIL_MULTIPLE###
	Backlink (only if multiple):						###POWERMAIL_MULTIPLE_BACKLINK###
	Nextlink (only if multiple):						###POWERMAIL_MULTIPLE_FORWARDLINK###
    Submit fields if moveSubmitToOuterMarker = 1:		###POWERMAIL_SUBMIT_FIELDS###
    Marker for Extensions:								###POWERMAIL_JS###
    Own CSS class for fieldset (with ending space):		###OWNCSS###
    Fill Marker with any parsed field:					###UID[number]### (e.g. ###UID23###)
	
	-- MARKERS INSIDE SUBPARTS ---
	Name of fieldset (small letters):					###POWERMAIL_FIELDSETNAME_small###
	UID of current fieldset:							###POWERMAIL_FIELDSET_UID###
	Full fieldset name:									###POWERMAIL_FIELDSETNAME###
	HTML Code of current field:							###POWERMAIL_FIELDS###
	
	--- GENERAL MARKERS (INSIDE/OUTSIDE) --
	Displaying any value from pi1/locallang.xml:		###POWERMAIL_LOCALLANG_YOURFIELD### (Could be filled via locallang.xml or typoscript - see manual for details)
	Displaying any value from typoscript:				###POWERMAIL_TYPOSCRIPT_YOURFIELD### (Could be filled via typoscript - see manual for details)
	

<!-- ###POWERMAIL_FORMWRAP### begin -->
	<div class="tx-powermail-pi1_formwrap tx-powermail-pi1_formwrap_###POWERMAIL_FORM_UID######POWERMAIL_MULTIPLE###">
		<form id="###POWERMAIL_NAME###" action="###POWERMAIL_ACTION###" method="post" class="tx_powermail_pi1_form" enctype="multipart/form-data" novalidate="novalidate">
			###POWERMAIL_MULTIPLE_PAGEBROWSER###
			<div class="fieldsets">
				<!-- ###POWERMAIL_CONTENT### --><!-- ###POWERMAIL_ITEM### -->
					<fieldset class="###OWNCSS###tx-powermail-pi1_fieldset tx-powermail-pi1_fieldset_###POWERMAIL_FIELDSETNAME_small### tx-powermail-pi1_fieldset_###POWERMAIL_FIELDSET_UID###" id="tx-powermail-pi1_fieldset_###POWERMAIL_FIELDSET_UID###"###POWERMAIL_JS###>
						<legend>###POWERMAIL_FIELDSETNAME###</legend>
						###POWERMAIL_FIELDS###
					</fieldset>
				<!-- ###POWERMAIL_ITEM### --><!-- ###POWERMAIL_CONTENT### -->
				<div class="clear"></div>
			</div>
			###POWERMAIL_MULTIPLE_BACKLINK###
			###POWERMAIL_MULTIPLE_FORWARDLINK###
            ###POWERMAIL_SUBMIT_FIELDS###
		</form>
	</div>
<!-- ###POWERMAIL_FORMWRAP### end -->