/**
 * Main Settings
 */
div.tx-powermail {
	font-family: Calibri, Arial, sans-serif;
	font-size: 14px;
	width: 640px;
	margin: 0 !important;
	padding: 0 !important;
}
div.tx-powermail * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
div.tx-powermail h3 {
	display: none;
}
.powermail_message {
	padding-left: 20px;
	min-height: 65px;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */

	-webkit-box-shadow: 0px 0px 8px 0px;
	-moz-box-shadow: 0px 0px 8px 0px;
	box-shadow: 0px 0px 8px 0px;

	background-position: 98% 10px;
	background-repeat: no-repeat;
}
.powermail_message_ok {
	background-image: url("/typo3conf/ext/powermail/Resources/Public/Image/icon_ok.png");
}
.powermail_message_error {
 	background-image: url("/typo3conf/ext/powermail/Resources/Public/Image/icon_error.png");
}
.powermail_message li {
	padding: 10px 50px 10px 0;
	font-weight: bold;
	color: #1E5799;
}
.clear {
	clear: both;
}

/**
 * Form
 */
.powermail_form {
	position: relative;
}
.powermail_fieldset {
	clear: left;
	border: 0;
	padding: 10px;
	margin-bottom: 20px;

	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */

	-webkit-box-shadow: 0px 0px 8px 0px;
	-moz-box-shadow: 0px 0px 8px 0px;
	box-shadow: 0px 0px 8px 0px;
}
.powermail_legend {
	font-weight: bold;
	color: #EAEAEA;
	float: right;
	margin: 3px 10px 10px 0;
	font-size: 30px;
    white-space:normal;
}
.powermail_label {
	/* label */
	display: block;
	width: 200px;
	float: left;
	clear: left;
	font-weight: bold;
	color: #1E5799;
}
div.powermail_fieldwrap {
	margin: 0 0 0.5em 0;
	clear: both;
}
.powermail_field {
	font-family: Calibri, Arial, sans-serif;
	font-size: 14px;
	width: 400px;
	padding: 3px;
	padding-right: 0 !important;
	border: 1px solid #ccc;
	color: #444;

	-webkit-box-shadow: 3px 3px 5px #eee;
	-moz-box-shadow: 3px 3px 5px #eee;
	box-shadow: 3px 3px 5px #eee;
}
.powermail_captcha {
	width: 392px;
}
.powermail_textarea {
	height: 80px;
}
input.powermail_field:focus {
	background-color: #E5E5E5;
	border: 1px solid white;
	outline: none;
}
.powermail_submit,
.powermail_reset {
	margin: 10px 16px 10px 0;
	float: right;
	border: 0;
	padding: 5px 20px;
	color: white;
	font-weight: bold;
	cursor: pointer;

	background: rgb(30,87,153); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */

	-webkit-box-shadow: 3px 3px 5px #ccc;
	-moz-box-shadow: 3px 3px 5px #ccc;
	box-shadow: 3px 3px 5px #ccc;
}
.powermail_reset {
	background: #FF6724;
}
.powermail_fieldwrap_radio fieldset,
.powermail_fieldwrap_check fieldset {
	padding: 0;
	margin: 0;
	border: 0;
}
.powermail_fieldwrap_radio fieldset legend,
.powermail_fieldwrap_check fieldset legend {
	padding: 0;
}
.powermail_radio_outer,
.powermail_captcha_outer,
.powermail_check_outer,
.powermail_fieldwrap_text {
	background-color: white;
	border: 1px solid #ccc;
	float: left;
	padding: 3px;
	width: 400px;
}
.powermail_fieldwrap.powermail_fieldwrap_text {
	margin-left: 200px;
}
.powermail_radio_outer label,
.powermail_captcha_outer label,
.powermail_check_outer label {
	color: #444;
}
.powermail_captchaimage {
	width: 392px;
	margin-top: 10px;
}
div.error {
	background-color: #FFCA4B;
	border: 1px solid #FF8100;
}
.powermail_field_error,
.parsley-error,
.powermail_form .parsley-error:focus {
	background-color: #FFCA4B;
	border: 1px solid #FF8100;
}
div.powermail_fieldwrap_file_inner {
	overflow: hidden;
	height: 26px;
	padding: 3px;
	width: 392px;
	color: white;
	font-weight: bold;
	cursor: pointer;
	background-image: url('/typo3conf/ext/powermail/Resources/Public/Image/upload_bg.png');
}
input.powermail_file {
	position: relative;
	height: 100%;
	width: auto;
	opacity: 0;
	-moz-opacity: 0;
	-webkit-opacity: 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
ul#powermail_tabmenu {
	list-style-type: none;
	width: 99.5%;
	height: 16px;
	padding: 10px 0;
	margin-left: 2px;

	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */

	-webkit-box-shadow: 0px 0px 8px 0px;
	-moz-box-shadow: 0px 0px 8px 0px;
	box-shadow: 0px 0px 8px 0px;
}
ul#powermail_tabmenu li {
	float: left;
	margin-left: 10px;
	cursor: pointer;
	font-weight: bold;
	color: #1E5799;
}
ul#powermail_tabmenu li.act {
	text-shadow: 0px 0px 10px #888888;
	filter: dropshadow(color=#888888, offx=0, offy=0);
}
.ui-datepicker-next span,
.ui-datepicker-prev span {
	text-indent: -99999px;
	cursor: pointer;
}

/**
 * Confirmation
 */
.powermail_confirmation {
    clear: left;
	border: 0;
	padding: 10px;
	margin-bottom: 20px;

	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */

	-webkit-box-shadow: 0px 0px 8px 0px;
	-moz-box-shadow: 0px 0px 8px 0px;
	box-shadow: 0px 0px 8px 0px;
}
input.powermail_confirmation_form {
	float: left;
	margin-top: 20px;
	padding: 5px 20px;
	color: white;
	font-weight: bold;
	cursor: pointer;

	background: rgb(30,87,153); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */

	-webkit-box-shadow: 3px 3px 5px #aaa;
	-moz-box-shadow: 3px 3px 5px #aaa;
	box-shadow: 3px 3px 5px #aaa;
}
input.powermail_confirmation_submit {
	float: right;
	margin-top: 20px;
	padding: 5px 20px;
	color: white;
	font-weight: bold;
	cursor: pointer;

	background: rgb(30,87,153); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */

	-webkit-box-shadow: 3px 3px 5px #aaa;
	-moz-box-shadow: 3px 3px 5px #aaa;
	box-shadow: 3px 3px 5px #aaa;
}

/**
 * Powermail All
 */
dl.powermail_all {
	padding: 5px 0;
}
dl.powermail_all dt {
	font-weight: bold;
	float: left;
	width: 150px;
	clear: left;
}
dl.powermail_all dd {
	float: left;
	width: 420px;
}

/**
 * Create
 */
.powermail_create {
	border: 0;
	padding: 10px;
	margin-bottom: 20px;

	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */

	-webkit-box-shadow: 0px 0px 8px 0px;
	-moz-box-shadow: 0px 0px 8px 0px;
	box-shadow: 0px 0px 8px 0px;
}

/**
 * JS Form Validation
 */
.parsley-error-list {
	padding-left: 200px;
	margin: 0 0 20px;
	list-style-type: none;
}
.parsley-error-list > li {
	padding: 0;
	color: #FF8100;
	font-weight: bold;
}

/**
 * Powermail_Frontend
 */
#powermail_frontend_search {
    margin: 0;
}
.powermail_frontend {
	clear: left;
	border: 0;
	padding: 10px;
	margin-bottom: 20px;
	overflow: auto;

	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */

	-webkit-box-shadow: 0px 0px 8px 0px;
	-moz-box-shadow: 0px 0px 8px 0px;
	box-shadow: 0px 0px 8px 0px;
}
.powermail_frontend_list {
	width: 100%;
	font-size: 0.9em;
	border: 1px solid #070708;
	margin-top: 15px;
}
.powermail_frontend_list th {
	color: white;
	font-weight: bold;
	padding: 3px;
	text-align: left;

	background: rgb(69,72,77); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.powermail_frontend_list td {
	border-top: 1px solid #ccc;
	padding: 3px;
}
.powermail_frontend_filter {
	background: rgb(252,255,244); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(252,255,244,1) 0%, rgba(223,229,215,1) 40%, rgba(179,190,173,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(40%,rgba(223,229,215,1)), color-stop(100%,rgba(179,190,173,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */
	border: 1px solid #ccc;
	padding: 10px 0;
}
.powermail_frontend_search_container {
	padding: 5px 10px;
}
.powermail_frontend_search_container label {
	float: left;
	display: block;
	width: 150px;
	font-weight: bold;
	margin-right: 10px;
	padding-top: 3px;
}
.powermail_frontend_search_container input {
	width: 430px;
	padding: 3px;
}
.powermail_frontend_search_submit {
	width: 430px;
	padding: 3px;
	margin: 5px 0 0 170px;
	color: white;
	font-weight: bold;
	cursor: pointer;

	background: rgb(69,72,77); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.powermail_frontend_abc,
.powermail_frontend_export {
	background: rgb(252,255,244); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(252,255,244,1) 0%, rgba(223,229,215,1) 40%, rgba(179,190,173,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(40%,rgba(223,229,215,1)), color-stop(100%,rgba(179,190,173,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */
	border: 1px solid #ccc;
	padding: 10px 0;
}
.powermail_frontend_abc_inner,
.powermail_frontend_export_inner {
	margin: 0 10px;
}
span.abc,
span.abc a {
	font-weight: bold;
	text-decoration: none;
}
.powermail_frontend dl {
	clear: both;
	padding: 5px 0;
}
.powermail_frontend dt {
	float: left;
	width: 150px;
	font-weight: bold;
	clear: left;
	margin-right: 10px;
}
.powermail_frontend dd {
	float: left;
}
.powermail_frontend_export_icon {
	float: right;
	margin: 0 8px;
	padding-top: 5px;
	height: 19px;
}
.powermail_frontend_export input {
	width: 17px;
	height: 16px;
	padding-top: 2px;
	cursor: pointer;
	text-indent: -99999px;
	border: 0;
	background: none;
	background-repeat: no-repeat;
	background-image: url('/typo3conf/ext/powermail/Resources/Public/Image/icon_csv.gif');
}
.powermail_frontend_export input.export_icon_xls {
	background-image: url('/typo3conf/ext/powermail/Resources/Public/Image/icon_xls.gif');
}