<f:if condition="{settings.marketing.googleAdwords._enable}">
	<script type="text/javascript">
		var google_conversion_id = {settings.marketing.googleAdwords.google_conversion_id};
		var google_conversion_language = "{settings.marketing.googleAdwords.google_conversion_language}";
		var google_conversion_format = "{settings.marketing.googleAdwords.google_conversion_format}";
		var google_conversion_color = "ffffff";
		var google_conversion_label = "{settings.marketing.googleAdwords.google_conversion_label}";
		var google_conversion_value = 0;
	</script>
	<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js"></script>

	<noscript>
		<div style="display:inline;">
			<img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/{settings.marketing.googleAdwords.google_conversion_id}/?label={settings.marketing.googleAdwords.google_conversion_label}&amp;guid=ON&amp;script=0"/>
		</div>
	</noscript>
</f:if>
