{namespace vh=Tx_Powermail_ViewHelpers}

<div class="powermail_frontend_abc">
	<div class="powermail_frontend_abc_inner">

		<f:for each="{abc}" as="letter">
			<f:if condition="{vh:Condition.IsThereAMailWithStartingLetter(mails: '{mails}', letter: '{letter}', answerField: '{settings.search.abc}')}">
				<f:then>
					<span class="abc"><f:link.action action="list" arguments="{filter: {abc: '{letter}'}}">{letter}</f:link.action></span>
				</f:then>
				<f:else>
					<span class="abc">{letter}</span>
				</f:else>
			</f:if>
		</f:for>

		<f:if condition="{piVars.filter.abc}">
			<span class="clearfilter"><f:link.page><f:translate key="ClearFilter" /></f:link.page></span>
		</f:if>
	</div>
</div>