{namespace vh=Tx_Powermail_ViewHelpers}

<f:if condition="{settings.list.export}">
	<f:form action="export" name="export" id="powermail_frontend_export">

		<div class="powermail_frontend_export">
			<div class="powermail_frontend_export_inner">
				<f:if condition="{vh:Condition.IsStringInString(haystack: '{settings.list.export}', needle: 'xls')}">
					<f:image src="{f:uri.resource(path: 'Image/icon_xls.gif')}" alt="XLS" class="export_icon export_icon_xls" />
				</f:if>
				<f:if condition="{vh:Condition.IsStringInString(haystack: '{settings.list.export}', needle: 'csv')}">
					<f:image src="{f:uri.resource(path: 'Image/icon_csv.gif')}" alt="CSV" class="export_icon export_icon_csv" />
				</f:if>

				<f:for each="{mails}" as="{mail}">
					<input type="hidden" name="tx_powermail_pi2[export][fields]"
						   value="<f:for each="{mails}" as="mail" iteration="index">{mail.uid}<f:if condition="{index.isLast}"><f:else>,</f:else></f:if></f:for>"
					id="export_fields" />
				</f:for>

				<f:form.hidden name="format" value="" id="export_format" />

				<div class="clear"></div>
			</div>
		</div>

	</f:form>
</f:if>