{namespace vh=Tx_Powermail_ViewHelpers}
<div class="powermail_module_search">
	<div class="powermail_module_search_inner">

		<f:comment>
			<!--Search Partial-->
		</f:comment>
		<f:render partial="Module/SearchBe" arguments="{firstMail: firstMail, mails: mails, piVars: piVars, action : 'listBe'}" />



		<f:comment>
			<!--Extended Export Partial-->
		</f:comment>
		<f:render partial="Module/ExportBe" arguments="{firstMail: firstMail, mails: mails, piVars: piVars}" />

	</div>
</div>