{namespace vh=In2code\Powermail\ViewHelpers}

<f:form
		action="dispatch"
		name="filter"
		id="powermail_module_search">

	<f:render partial="Module/Search" arguments="{_all}" />
	<f:if condition="{forwardToAction} == 'list'">
		<f:render partial="Module/Export" arguments="{_all}" />
	</f:if>

	<f:comment>
		Forward to this action in dispatchAction
	</f:comment>
	<f:form.hidden name="forwardToAction" value="{forwardToAction}" id="forwardToAction" />

	<f:comment>
		Keep Sorting on filter or export
	</f:comment>
	<f:if condition="{piVars.sorting}">
		<f:then>
			<f:for each="{piVars.sorting}" key="sortingKey" as="order">
				<f:form.hidden
						name="sorting[{sortingKey}]"
						class="extended_export_sorting_container"
						value="{order}" />
			</f:for>
		</f:then>
		<f:else>
			<f:form.hidden
					name="sorting[{settings.sortby}]"
					class="extended_export_sorting_container"
					value="{settings.order}" />
		</f:else>
	</f:if>
</f:form>
