{namespace vh=In2code\Powermail\ViewHelpers}
<table cellspacing="0" cellpadding="0" border="0" class="typo3-dblist">
	<tbody>
	<tr class="t3-row-header">
		<td nowrap="nowrap" class="col-icon">&nbsp;</td>
		<td nowrap="nowrap" colspan="5">
			<span class="c-table">
				<f:translate key="BackendOverviewTable">Forms</f:translate>
			</span>
			(<f:count subject="{forms}" />)
		</td>
		<td nowrap="nowrap" class="col-icon">&nbsp;</td>
	</tr>
	<tr class="c-headLine">
		<td nowrap="nowrap" class="col-icon">
			&nbsp;
		</td>
		<td nowrap="nowrap" class="col-title">
			<f:translate key="BackendOverviewCol1">Form Title</f:translate>
		</td>
		<td nowrap="nowrap" class="col-title">
			<f:translate key="BackendOverviewCol2">Stored on Page</f:translate>
		</td>
		<td nowrap="nowrap" class="col-title">
			<f:translate key="BackendOverviewCol3">Used on Page</f:translate>
		</td>
		<td nowrap="nowrap" class="col-title">
			<f:translate key="BackendOverviewCol4">Powermail Pages</f:translate>
		</td>
		<td nowrap="nowrap" class="col-title">
			<f:translate key="BackendOverviewCol5">Powermail Fields</f:translate>
		</td>
		<td nowrap="nowrap" class="col-title">
			&nbsp;
		</td>
	</tr>

	<f:for each="{forms}" as="form" iteration="iteration">
		<tr class="db_list_normal firstcol powermail_listbe_overview">
			<td nowrap="nowrap" class="col-icon">
				<span class="t3-icon t3-icon-tcarecords t3-icon-tcarecords-tx_powermail_domain_model_forms t3-icon-tx_powermail_domain_model_forms-default{f:if(condition:'{form.hidden}',then:' transparent')}" title="id={form.uid}">&nbsp;</span>
			</td>
			<td nowrap="nowrap" class="col-title">
				<a title="Edit" onclick="window.location.href = 'alt_doc.php?returnUrl=' + T3_THIS_LOCATION + '&amp;edit[tx_powermail_domain_model_forms][{form.uid}]=edit'; return false;" href="#">
					<span title="id={form.uid}">{form.title}</span>
				</a>
			</td>
			<td nowrap="nowrap" class="col-title">
				<a title="id={form.pid}" onclick="top.loadEditId({form.pid},&quot;&amp;SET[language]=0&quot;); return false;" href="#">
					<vh:Getter.GetPageNameFromUid uid="{form.pid}" />
				</a>
			</td>
			<td nowrap="nowrap" class="col-title">
				<f:for each="{vh:Getter.GetPagesWithContentRelatedToForm(form:form)}" as="page">
					<a title="id={page.uid}" onclick="top.loadEditId({page.uid},&quot;&amp;SET[language]=0&quot;); return false;" href="#">
						{page.title}
					</a>
					<br />
				</f:for>
			</td>
			<td nowrap="nowrap" class="col-title">
				<span title="{vh:String.ImplodeField(objects:form.pages, field:'title', separator:', ')}">
					<f:count>{form.pages}</f:count> <f:translate key="BackendOverviewPages">Pages</f:translate>
				</span>
			</td>
			<td nowrap="nowrap" class="col-title">
				<span title="{vh:String.ImplodeField(objects:'{vh:Getter.GetFieldsFromForm(form:form)}', separator:', ')}">
					<f:count><vh:Getter.GetFieldsFromForm form="{form}" /></f:count> <f:translate key="BackendOverviewFields">Fields</f:translate>
				</span>
			</td>
			<td nowrap="nowrap" class="col-title">
				<a title="Edit" onclick="window.location.href = 'alt_doc.php?returnUrl=' + T3_THIS_LOCATION + '&amp;edit[tx_powermail_domain_model_forms][{form.uid}]=edit'; return false;" href="#">
					<span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-open">&nbsp;</span>
				</a>
			</td>
		</tr>
	</f:for>
	</tbody>
</table>