<nav aria-label="Powermail navigation">
	<ul class="pagination">
		<f:if condition="{pagination.previousPageNumber} && {pagination.previousPageNumber} >= {pagination.firstPageNumber}">
			<f:then>
				<li class="page-item previous">
					<a href="{f:uri.action(action:actionName, arguments:{currentPage: pagination.previousPageNumber})}"
					   title="{f:translate(key:'pagination.previous')}" class="page-link">
						{f:translate(key:'widget.pagination.previous', extensionName: 'fluid')}
					</a>
				</li>
			</f:then>
			<f:else>
			</f:else>
		</f:if>
		<f:if condition="{pagination.hasLessPages}">
			<li class="page-item">…</li>
		</f:if>
		<f:for each="{pagination.allPageNumbers}" as="page">
			<li class="page-item {f:if(condition: '{page} == {paginator.currentPageNumber}', then:'active')}">
				<a href="{f:uri.action(action:actionName, arguments:{currentPage: page})}" class="page-link">{page}</a>
			</li>
		</f:for>
		<f:if condition="{pagination.hasMorePages}">
			<li class="page-item">…</li>
		</f:if>
		<f:if condition="{pagination.nextPageNumber} && {pagination.nextPageNumber} <= {pagination.lastPageNumber}">
			<f:then>
				<li class="page-item next">
					<a href="{f:uri.action(action:actionName, arguments:{currentPage: pagination.nextPageNumber})}"
					   title="{f:translate(key:'pagination.next')}" class="page-link">
						{f:translate(key:'widget.pagination.next', extensionName: 'fluid')}
					</a>
				</li>
			</f:then>
			<f:else>
			</f:else>
		</f:if>
	</ul>
</nav>
