{namespace vh=Tx_Powermail_ViewHelpers}
<f:layout name="Backend"/>


Show Backend Module: Powermail List

<f:section name="content">

	<h2><f:translate key="BackendCheckTitle" /></h2>

	<f:if condition="{settings.staticTemplate}">
		<f:then>
			<div class="typo3-message message-ok powermail-message">
				<div class="header-container">
					<div class="message-header">
						<f:translate key="BackendCheckStaticTemplateTitle" />
					</div>
				</div>
				<div class="message-body">
					<p>
						<f:translate key="BackendCheckStaticTemplateCorrect" />
						<f:be.pagePath /> ({pid})
					</p>
				</div>
			</div>
		</f:then>
		<f:else>
			<div class="typo3-message message-warning powermail-message">
				<div class="message-header">
					<f:translate key="BackendCheckStaticTemplateTitle" />
				</div>
				<div class="message-body">
					<p>
						<f:translate key="BackendCheckStaticTemplateFailed" />
						<f:be.pagePath /> ({pid})
					</p>
				</div>
			</div>
		</f:else>
	</f:if>

	<f:if condition="{vh:BeCheck.Session()}">
		<f:then>
			<div class="typo3-message message-ok powermail-message">
				<div class="header-container">
					<div class="message-header">
						<f:translate key="BackendCheckSessionTitle" />
					</div>
				</div>
				<div class="message-body">
					<p>
						<f:translate key="BackendCheckSessionCorrect" />
					</p>
				</div>
			</div>
		</f:then>
		<f:else>
			<div class="typo3-message message-error powermail-message">
				<div class="message-header">
					<f:translate key="BackendCheckSessionTitle" />
				</div>
				<div class="message-body">
					<p>
						<f:translate key="BackendCheckSessionFailed" />
					</p>
				</div>
			</div>
		</f:else>
	</f:if>

	<f:if condition="{vh:BeCheck.ExtMngConfig()}">
		<f:then>
			<div class="typo3-message message-ok powermail-message">
				<div class="header-container">
					<div class="message-header">
						<f:translate key="BackendCheckExtMngConfigTitle" />
					</div>
				</div>
				<div class="message-body">
					<p>
						<f:translate key="BackendCheckExtMngConfigCorrect" />
					</p>
				</div>
			</div>
		</f:then>
		<f:else>
			<div class="typo3-message message-error powermail-message">
				<div class="message-header">
					<f:translate key="BackendCheckExtMngConfigTitle" />
				</div>
				<div class="message-body">
					<p>
						<f:translate key="BackendCheckExtMngConfigFailed" />
					</p>
				</div>
			</div>
		</f:else>
	</f:if>

	<f:if condition="{vh:BeCheck.T3Version()}">
		<f:then>
			<div class="typo3-message message-ok powermail-message">
				<div class="header-container">
					<div class="message-header">
						<f:translate key="BackendCheckT3VersionTitle" />
					</div>
				</div>
				<div class="message-body">
					<p>
						<f:translate key="BackendCheckT3VersionCorrect" />
					</p>
				</div>
			</div>
		</f:then>
		<f:else>
			<div class="typo3-message message-error powermail-message">
				<div class="message-header">
					<f:translate key="BackendCheckT3VersionTitle" />
				</div>
				<div class="message-body">
					<p>
						<f:translate key="BackendCheckT3VersionFailed" />
					</p>
				</div>
			</div>
		</f:else>
	</f:if>

	<f:if condition="{vh:BeCheck.UploadsFolder()}">
		<f:then>
			<div class="typo3-message message-ok powermail-message">
				<div class="header-container">
					<div class="message-header">
						<f:translate key="BackendCheckUploadsFolderTitle" />
					</div>
				</div>
				<div class="message-body">
					<p>
						<f:translate key="BackendCheckUploadsFolderCorrect" />
					</p>
				</div>
			</div>
		</f:then>
		<f:else>
			<div class="typo3-message message-error powermail-message">
				<div class="message-header">
					<f:translate key="BackendCheckUploadsFolderTitle" />
				</div>
				<div class="message-body">
					<p>
						<f:translate key="BackendCheckUploadsFolderFailed" />
					</p>
				</div>
			</div>
		</f:else>
	</f:if>






	<h2 class="powermail-padding-top"><f:translate key="BackendEmailTitle" /></h2>

	<f:if condition="{email}">
		<f:if condition="{issent}">
			<f:then>
				<div class="typo3-message message-ok powermail-message">
					<div class="header-container">
						<div class="message-header">
							<f:translate key="BackendCheckEmailTitle" />
						</div>
					</div>
					<div class="message-body">
						<p>
							<f:translate key="BackendCheckEmailCorrect" />
						</p>
					</div>
				</div>
			</f:then>
			<f:else>
				<div class="typo3-message message-error powermail-message">
					<div class="message-header">
						<f:translate key="BackendCheckEmailTitle" />
					</div>
					<div class="message-body">
						<p>
							<f:translate key="BackendCheckEmailFailed" />
						</p>
					</div>
				</div>
			</f:else>
		</f:if>
	</f:if>
	<div class="typo3-message message-notice powermail-message">
		<div class="message-header powermail-padding-bottom">
			<f:translate key="BackendEmailFormTitle" />
		</div>
		<div class="message-body powermail-padding-bottom powermail_email">
			<f:form action="checkBe" controller="Module">
				<label for="powermail_email">
					<f:translate key="BackendEmailFormReceiver" />
				</label>
				<f:form.textfield name="email" value="" id="powermail_email" class="powermail_email_input" />
				<f:form.submit value="Send Mail Now" class="powermail_email_submit" />
			</f:form>
		</div>
	</div>

</f:section>