<f:layout name="Backend"/>

	Show Backend Module: Powermail Function Check

<f:section name="content">

	<h1><f:translate key="BackendCheckTitle">Powermail Function Check</f:translate></h1>

	<h2 class="powermail-padding-top"><f:translate key="BackendFunctionTitle">Function Tests</f:translate></h2>
	<f:render partial="Module/CheckBe/PowermailVersionNote" arguments="{_all}" />
	<f:render partial="Module/CheckBe/T3Version" arguments="{_all}" />
	<f:render partial="Module/CheckBe/DevelopmentContext" arguments="{_all}" />
	<f:render partial="Module/CheckBe/StaticTemplate" arguments="{_all}" />
	<f:render partial="Module/CheckBe/Session" arguments="{_all}" />
	<f:render partial="Module/CheckBe/ExtMngConfig" arguments="{_all}" />
	<f:render partial="Module/CheckBe/UploadsFolder" arguments="{_all}" />
	<f:render partial="Module/CheckBe/CheckWrongLocalizedForms" arguments="{_all}" />
	<f:render partial="Module/CheckBe/CheckWrongLocalizedPages" arguments="{_all}" />
	<f:render partial="Module/CheckBe/CheckFilledMarkersInLocalizedFields" arguments="{_all}" />


	<h2 class="powermail-padding-top">
		<f:translate key="BackendEmailTitle">Test Email Transmission</f:translate>
	</h2>
	<f:render partial="Module/CheckBe/Email" arguments="{_all}" />
</f:section>
