{namespace vh=Tx_Powermail_ViewHelpers}
<f:layout name="Export" />

Render Powermail XLS Export
{mails}					All Mails for exporting
{fields}				Fields to export (drag'n drop settings in module)

<f:section name="main">

	<vh:String.Utf8Decode>
		<table>
			<f:for each="{mails}" as="mail" iteration="index">
				<f:if condition="{index.isFirst}">
					<tr>
						<f:for each="{fields}" as="field">
							<th>
								<f:if condition="{vh:Condition.IsNumber(val: '{field}')}">
									<f:then>
										<vh:Getter.GetFieldLabelFromUid uid="{field}" />
									</f:then>
									<f:else>
										<f:translate key="Tx_Powermail_Domain_Model_Mails.{vh:String.UnderscoredToLowerCamelCase(val: '{field}')}" />
									</f:else>
								</f:if>
							</th>
						</f:for>
					</tr>
				</f:if>


				<tr>
					<f:for each="{fields}" as="field">
						<td>
							<f:if condition="{vh:Condition.IsNumber(val: '{field}')}">
								<f:then>
									<f:for each="{mail.answers}" as="answer">
										<f:if condition="{field} == {answer.field}">
											<f:if condition="{vh:Condition.IsArray(val: '{answer.value}')}">
												<f:then>
													<f:for each="{answer.value}" as="singleValue">
														<f:if condition="{singleValue}">
															{singleValue},
														</f:if>
													</f:for>
												</f:then>
												<f:else>
													{answer.value}
												</f:else>
											</f:if>
										</f:if>
									</f:for>
								</f:then>
								<f:else>
									<f:if condition="{vh:Condition.IsDateTimeVariableInVariable(obj: '{mail}', prop: '{field}')}">
										<f:then>
											<f:if condition="{0 : field} == {0 : 'crdate'}">
												<f:then>
													<f:format.date format="d.m.Y H:i:s"><vh:Misc.VariableInVariable obj="{mail}" prop="{field}" /></f:format.date>
													<f:translate key="Clock" />
												</f:then>
												<f:else>
													<f:format.date format="H:i:s"><vh:Misc.VariableInVariable obj="{mail}" prop="{field}" /></f:format.date>
												</f:else>
											</f:if>
										</f:then>
										<f:else>
											<f:if condition="{0 : field} == {0 : 'marketing_funnel'}">
												<f:then>
													<f:if condition="{vh:Condition.IsArray(val: '{vh:Misc.VariableInVariable(obj: \'{mail}\', prop: \'{field}\')}')}">
														<f:for each="{vh:Misc.VariableInVariable(obj: '{mail}', prop: '{field}')}" as="pid" iteration="pageIndex">
															<vh:Getter.GetPageNameFromUid uid="{pid}" /><f:if condition="{pageIndex.isLast}"><f:else> &gt; </f:else></f:if>
														</f:for>
													</f:if>
												</f:then>
												<f:else>
													<vh:Misc.VariableInVariable obj="{mail}" prop="{field}" />
												</f:else>
											</f:if>
										</f:else>
									</f:if>
								</f:else>
							</f:if>
						</td>
					</f:for>
				</tr>
			</f:for>
		</table>
	</vh:String.Utf8Decode>

</f:section>