{namespace vh=Tx_Powermail_ViewHelpers}
<f:layout name="Export" />

Render Powermail XLS Export
{mails}					All Mails for exporting
{fields}				Fields to export (drag'n drop settings in module)

<f:section name="main"><vh:Utf8Decode><vh:trim>

	<f:for each="{mails}" as="mail" iteration="index">
		<f:if condition="{index.isFirst}">
			<f:for each="{fields}" as="field">
				<f:if condition="{vh:IsNumber(val: '{field}')}">
					<f:then>
						"<vh:RemoveQuote><vh:GetFieldLabelFromUid uid="{field}" /></vh:RemoveQuote>";
					</f:then>
					<f:else>
						"<vh:RemoveQuote><f:translate key="Tx_Powermail_Domain_Model_Mails.{vh:UnderscoredToLowerCamelCase(val: '{field}')}" /></vh:RemoveQuote>";
					</f:else>
				</f:if>
			</f:for>
			<br />
		</f:if>


		<f:for each="{fields}" as="field">
			<f:if condition="{vh:IsNumber(val: '{field}')}">
				<f:then>
					<f:for each="{mail.answers}" as="answer">
						<f:if condition="{field} == {answer.field}">
							"<vh:RemoveQuote>{answer.value}</vh:RemoveQuote>";
						</f:if>
					</f:for>
				</f:then>
				<f:else>
					<f:if condition="{vh:IsDateTimeVariableInVariable(obj: '{mail}', prop: '{field}')}">
						<f:then>
							<f:if condition="{0 : field} == {0 : 'crdate'}">
								<f:then>
									"<vh:RemoveQuote><f:format.date format="d.m.Y H:i:s"><vh:VariableInVariable obj="{mail}" prop="{field}" /></f:format.date>
									<f:translate key="Clock" /></vh:RemoveQuote>";
								</f:then>
								<f:else>
									"<vh:RemoveQuote><f:format.date format="H:i:s"><vh:VariableInVariable obj="{mail}" prop="{field}" /></f:format.date></vh:RemoveQuote>";
								</f:else>
							</f:if>
						</f:then>
						<f:else>
							<f:if condition="{0 : field} == {0 : 'marketing_funnel'}">
								<f:then>
									<f:if condition="{vh:isArray(val: '{vh:VariableInVariable(obj: \'{mail}\', prop: \'{field}\')}')}">
										"<f:for each="{vh:VariableInVariable(obj: '{mail}', prop: '{field}')}" as="pid" iteration="pageIndex"><vh:GetPageNameFromUid uid="{pid}" /><f:if condition="{pageIndex.isLast}"><f:else> > </f:else></f:if></f:for>"
									</f:if>
								</f:then>
								<f:else>
									"<vh:RemoveQuote><vh:VariableInVariable obj="{mail}" prop="{field}" /></vh:RemoveQuote>";
								</f:else>
							</f:if>
						</f:else>
					</f:if>
				</f:else>
			</f:if>
		</f:for>
		<br />
	</f:for>

</vh:trim></vh:Utf8Decode></f:section>