{namespace vh=In2code\Powermail\ViewHelpers}
<f:layout name="Backend" />


	Show Backend Module: Powermail List

<f:section name="content">

	<h1><f:translate key="BackendListTitle" /></h1>

	<f:comment>
		Filter Area
	</f:comment>
	<f:alias map="{forwardToAction: 'list'}">
		<f:render partial="Module/Filter" arguments="{_all}" />
	</f:alias>

	<div class="powermail_list">
		<f:if condition="{mails}">
			<f:then>
				<f:render partial="Module/List" arguments="{_all}" />
				<f:render partial="Module/SelectedLineMessage" arguments="{_all}" />
				<f:render partial="Module/Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
			</f:then>
			<f:else>
				<h3><f:translate key="BackendListNoMails" /></h3>
				<p><f:translate key="BackendListNoMailsSub" /></p>
			</f:else>
		</f:if>
	</div>

</f:section>
