{namespace vh=In2code\Powermail\ViewHelpers}
<f:layout name="Backend" />

	Show Backend Module: Overview
	{forms}         Powermail Forms

<f:section name="content">

	<h1><f:translate key="BackendSelectionOverview">Form Overview</f:translate></h1>

	<f:if condition="{pid} > 0">
		<f:then>
			<p>
				<f:translate key="BackendOverviewTitle2">All Forms within page</f:translate>
				<strong>{vh:Getter.GetPageNameFromUid(uid:pid)}</strong>
				<f:translate key="BackendOverviewTitle3">(and its subpages)</f:translate>
			</p>
			<p>
				<f:link.action action="overviewBe" additionalParams="{id:0}" class="btn btn-primary">
					<f:translate key="BackendOverviewTitle4">Show All</f:translate>
				</f:link.action>
			</p>
		</f:then>
		<f:else>
			<p><f:translate key="BackendOverviewTitle5"><strong>All Forms from all Pages</strong></f:translate></p>
		</f:else>
	</f:if>

	<div class="powermail_overview">
		<f:if condition="{forms}">
			<f:then>
				<f:be.widget.paginate
						objects="{forms}"
						as="formsPage"
						configuration="{itemsPerPage: 25,
						insertAbove: '{f:if(condition:\'{forms -> f:count()} > 25\',then:1,else:0)}',
						insertBelow: '{f:if(condition:\'{forms -> f:count()} > 25\',then:1,else:0)}'}">

					<f:render partial="Module/OverviewBe" arguments="{_all}" />

				</f:be.widget.paginate>
			</f:then>
			<f:else>
				<f:translate key="BackendOverviewNoForms">No Forms to show</f:translate>
			</f:else>
		</f:if>
	</div>

</f:section>
