{namespace vh=Tx_Powermail_ViewHelpers}
<f:layout name="Backend"/>


Show Backend Module: Powermail Reporting

<f:section name="content">

	<h2><f:translate key="BackendReportingTitle" /></h2>

	<f:flashMessages class="powermail_message" />

	<div class="powermail_reporting">

		<div class="powermail_reporting_selection">
			<div class="powermail_reporting_selection_left">
				<h2><f:link.action action="reportingBe" arguments="{subaction : 'form'}"><f:translate key="BackendReportingForm" /></f:link.action></h2>
				<f:link.action action="reportingBe" arguments="{subaction : 'form'}"><f:image src="{f:uri.resource(path: 'Image/chart_form.png')}" alt="Form Reporting" /></f:link.action>
			</div>
			<div class="powermail_reporting_selection_right">
				<h2><f:link.action action="reportingBe" arguments="{subaction : 'marketing'}"><f:translate key="BackendReportingMarketing" /></f:link.action></h2>
				<f:link.action action="reportingBe" arguments="{subaction : 'marketing'}"><f:image src="{f:uri.resource(path: 'Image/chart_marketing.png')}" alt="Marketing Reporting" /></f:link.action>
			</div>
			<div class="clear"></div>
		</div>

	</div>

</f:section>