{namespace vh=In2code\Powermail\ViewHelpers}
<f:layout name="Backend" />

	Show Backend Module: Powermail Reporting Marketing

<f:section name="content">
	
	<h1><f:translate key="BackendReportingMarketingTitle" /></h1>
	
	<f:flashMessages class="powermail_message" />
	
	<div class="powermail_reporting_marketing">
		<div class="powermail_module_search">
			<div class="powermail_module_search_inner">
				<f:render partial="Module/SearchBe" arguments="{piVars: piVars, mails: mails, firstMail: firstMail, action : 'reportingMarketingBe'}" />
			</div>
		</div>
		
		<f:if condition="{mails}">
			<f:then>
			
				<h3><f:translate key="BackendReportingFormSubtitle1" /> <f:count subject="{mails}" /> <f:translate key="Emails" />:</h3>

				<div class="powermail_reporting_marketing_fields">
					<div class="powermail_reporting_marketing_fields_inner">
				
						<div class="powermail_reporting_marketing_fields_item">
							<h4><f:translate key="\In2code\Powermail\Domain\Model\Mail.marketingRefererDomain">Referer Domain</f:translate></h4>
							<f:if condition="{vh:Reporting.GetLabelsGoogleCharts(answers: '{groupedMarketingStuff}', fieldUidOrKey: 'marketingRefererDomain')}">
								<f:then>
									<img src="http://chart.apis.google.com/chart?
												chf=bg,s,F8F8F8
												&chxs=0,676767,10.5
												&chxt=x
												&chs=600x200
												&cht=p3
												&chd=t:50,50
												&chdl={vh:Reporting.GetLabelsGoogleCharts(answers:groupedMarketingStuff, fieldUidOrKey:'marketingRefererDomain')}
												&chd=t:{vh:Reporting.GetValuesGoogleCharts(answers:groupedMarketingStuff, fieldUidOrKey:'marketingRefererDomain', separator: ',')}
												&chl={vh:Reporting.GetValuesGoogleCharts(answers:groupedMarketingStuff, fieldUidOrKey:'marketingRefererDomain', separator: '|')}
											" alt="Error, no graphic available" />
								</f:then>
								<f:else>
									<p class="noValuesToShow"><f:translate key="BackendReportingNoValues">No Values to Show</f:translate></p>
								</f:else>
							</f:if>

				
							<div class="powermail_reporting_form_fields_table_absolute">
								<table class="powermail_reporting_form_fields_table">
									<tr>
										<th style="width: 90%;" class="close"><f:translate key="BackendReportingFormValue" /></th>
										<th style="width: 10%;" class="powermail_reporting_form_fields_table_right"><f:translate key="BackendReportingFormAmount" /></th>
									</tr>
									<f:for each="{groupedMarketingStuff.marketingRefererDomain}" as="amount" key="value">
										<tr>
											<td>
												<span title="{value}">
													<f:format.crop maxCharacters="80" append="&nbsp;[...]">{value}</f:format.crop>
												</span>
											</td>
											<td class="powermail_reporting_form_fields_table_right">{amount}</td>
										</tr>
									</f:for>
								</table>
							</div>
						</div>
				
						<div class="powermail_reporting_marketing_fields_item">
							<h4><f:translate key="\In2code\Powermail\Domain\Model\Mail.marketingReferer">Referer</f:translate></h4>
							<f:if condition="{vh:Reporting.GetLabelsGoogleCharts(answers: '{groupedMarketingStuff}', fieldUidOrKey: 'marketingReferer')}">
								<f:then>
									<img src="http://chart.apis.google.com/chart?
												chf=bg,s,F8F8F8
												&chxs=0,676767,10.5
												&chxt=x
												&chs=600x200
												&cht=p3
												&chd=t:50,50
												&chdl={vh:Reporting.GetLabelsGoogleCharts(answers: '{groupedMarketingStuff}', fieldUidOrKey: 'marketingReferer')}
												&chd=t:{vh:Reporting.GetValuesGoogleCharts(answers: '{groupedMarketingStuff}', fieldUidOrKey: 'marketingReferer', separator: ',')}
												&chl={vh:Reporting.GetValuesGoogleCharts(answers: '{groupedMarketingStuff}', fieldUidOrKey: 'marketingReferer', separator: '|')}
											" alt="Error, no graphic available" />
								</f:then>
								<f:else>
									<p class="noValuesToShow"><f:translate key="BackendReportingNoValues">No Values to Show</f:translate></p>
								</f:else>
							</f:if>

							<div class="powermail_reporting_form_fields_table_absolute">
								<table class="powermail_reporting_form_fields_table">
									<tr>
										<th style="width: 90%;" class="close"><f:translate key="BackendReportingFormValue" /></th>
										<th style="width: 10%;"><f:translate key="BackendReportingFormAmount" /></th>
									</tr>
									<f:for each="{groupedMarketingStuff.marketingReferer}" as="amount" key="value">
										<tr>
											<td>
												<span title="{value}">
													<f:format.crop maxCharacters="80" append="&nbsp;[...]">{value}</f:format.crop>
												</span>
											</td>
											<td>{amount}</td>
										</tr>
									</f:for>
								</table>
							</div>
						</div>
				
						<div class="powermail_reporting_marketing_fields_item">
							<h4><f:translate key="\In2code\Powermail\Domain\Model\Mail.marketingCountry">Country</f:translate></h4>
							<f:if condition="{vh:Reporting.GetLabelsGoogleCharts(answers:groupedMarketingStuff, fieldUidOrKey:'marketingCountry')}">
								<f:then>
									<img src="http://chart.apis.google.com/chart?
												chf=bg,s,F8F8F8
												&chxs=0,676767,10.5
												&chxt=x
												&chs=600x200
												&cht=p3
												&chd=t:50,50
												&chdl={vh:Reporting.GetLabelsGoogleCharts(answers:groupedMarketingStuff, fieldUidOrKey:'marketingCountry')}
												&chd=t:{vh:Reporting.GetValuesGoogleCharts(answers:groupedMarketingStuff, fieldUidOrKey:'marketingCountry', separator: ',')}
												&chl={vh:Reporting.GetValuesGoogleCharts(answers:groupedMarketingStuff, fieldUidOrKey:'marketingCountry', separator: '|')}
											" alt="Error, no graphic available" />
								</f:then>
								<f:else>
									<p class="noValuesToShow"><f:translate key="BackendReportingNoValues">No Values to Show</f:translate></p>
								</f:else>
							</f:if>

							<div class="powermail_reporting_form_fields_table_absolute">
								<table class="powermail_reporting_form_fields_table">
									<tr>
										<th style="width: 90%;" class="close"><f:translate key="BackendReportingFormValue" /></th>
										<th style="width: 10%;"><f:translate key="BackendReportingFormAmount" /></th>
									</tr>
									<f:for each="{groupedMarketingStuff.marketingCountry}" as="amount" key="value">
										<tr>
											<td>
												<span title="{value}">
													<f:format.crop maxCharacters="80" append="&nbsp;[...]">{value}</f:format.crop>
												</span>
											</td>
											<td>{amount}</td>
										</tr>
									</f:for>
								</table>
							</div>
						</div>
				
						<div class="powermail_reporting_marketing_fields_item">
							<h4><f:translate key="\In2code\Powermail\Domain\Model\Mail.marketingMobileDevice">Mobile Device</f:translate></h4>
							<f:if condition="{vh:Reporting.GetLabelsGoogleCharts(answers:groupedMarketingStuff, fieldUidOrKey:'marketingMobileDevice')}">
								<f:then>
									<img src="http://chart.apis.google.com/chart?
												chf=bg,s,F8F8F8
												&chxs=0,676767,10.5
												&chxt=x
												&chs=600x200
												&cht=p3
												&chd=t:50,50
												&chdl={vh:Reporting.GetLabelsGoogleCharts(answers:groupedMarketingStuff, fieldUidOrKey:'marketingMobileDevice')}
												&chd=t:{vh:Reporting.GetValuesGoogleCharts(answers:groupedMarketingStuff, fieldUidOrKey:'marketingMobileDevice', separator:',')}
												&chl={vh:Reporting.GetValuesGoogleCharts(answers:groupedMarketingStuff, fieldUidOrKey:'marketingMobileDevice', separator:'|')}
											" alt="Error, no graphic available" />
								</f:then>
								<f:else>
									<p class="noValuesToShow"><f:translate key="BackendReportingNoValues">No Values to Show</f:translate></p>
								</f:else>
							</f:if>

							<div class="powermail_reporting_form_fields_table_absolute">
								<table class="powermail_reporting_form_fields_table">
									<tr>
										<th style="width: 90%;" class="close"><f:translate key="BackendReportingFormValue" /></th>
										<th style="width: 10%;"><f:translate key="BackendReportingFormAmount" /></th>
									</tr>
									<f:for each="{groupedMarketingStuff.marketingMobileDevice}" as="amount" key="value">
										<tr>
											<td>
												<span title="{value}">
													<f:format.crop maxCharacters="80" append="&nbsp;[...]">{value}</f:format.crop>
												</span>
											</td>
											<td>{amount}</td>
										</tr>
									</f:for>
								</table>
							</div>
						</div>
				
						<div class="powermail_reporting_marketing_fields_item">
							<h4><f:translate key="\In2code\Powermail\Domain\Model\Mail.marketingFrontendLanguage">Frontend Language</f:translate></h4>
							<f:if condition="{vh:Reporting.GetLabelsGoogleCharts(answers:groupedMarketingStuff, fieldUidOrKey:'marketingFrontendLanguage')}">
								<f:then>
									<img src="http://chart.apis.google.com/chart?
												chf=bg,s,F8F8F8
												&chxs=0,676767,10.5
												&chxt=x
												&chs=600x200
												&cht=p3
												&chd=t:50,50
												&chdl={vh:Reporting.GetLabelsGoogleCharts(answers:groupedMarketingStuff, fieldUidOrKey:'marketingFrontendLanguage')}
												&chd=t:{vh:Reporting.GetValuesGoogleCharts(answers:groupedMarketingStuff, fieldUidOrKey:'marketingFrontendLanguage',separator: ',')}
												&chl={vh:Reporting.GetValuesGoogleCharts(answers:groupedMarketingStuff, fieldUidOrKey:'marketingFrontendLanguage',separator: '|')}
											" alt="Error, no graphic available" />
								</f:then>
								<f:else>
									<p class="noValuesToShow"><f:translate key="BackendReportingNoValues">No Values to Show</f:translate></p>
								</f:else>
							</f:if>

							<div class="powermail_reporting_form_fields_table_absolute">
								<table class="powermail_reporting_form_fields_table">
									<tr>
										<th style="width: 90%;" class="close"><f:translate key="BackendReportingFormValue" /></th>
										<th style="width: 10%;"><f:translate key="BackendReportingFormAmount" /></th>
									</tr>
									<f:for each="{groupedMarketingStuff.marketingFrontendLanguage}" as="amount" key="value">
										<tr>
											<td>
												<span title="{value}">
													<f:format.crop maxCharacters="80" append="&nbsp;[...]">{value}</f:format.crop>
												</span>
											</td>
											<td>{amount}</td>
										</tr>
									</f:for>
								</table>
							</div>
						</div>
				
						<div class="powermail_reporting_marketing_fields_item">
							<h4><f:translate key="\In2code\Powermail\Domain\Model\Mail.marketingBrowserLanguage">Browser Language</f:translate></h4>
							<f:if condition="{vh:Reporting.GetLabelsGoogleCharts(answers:groupedMarketingStuff,fieldUidOrKey:'marketingBrowserLanguage')}">
								<f:then>
									<img src="http://chart.apis.google.com/chart?
												chf=bg,s,F8F8F8
												&chxs=0,676767,10.5
												&chxt=x
												&chs=600x200
												&cht=p3
												&chd=t:50,50
												&chdl={vh:Reporting.GetLabelsGoogleCharts(answers:groupedMarketingStuff,fieldUidOrKey: 'marketingBrowserLanguage')}
												&chd=t:{vh:Reporting.GetValuesGoogleCharts(answers:groupedMarketingStuff,fieldUidOrKey: 'marketingBrowserLanguage', separator:',')}
												&chl={vh:Reporting.GetValuesGoogleCharts(answers:groupedMarketingStuff,fieldUidOrKey: 'marketingBrowserLanguage', separator:'|')}
											" alt="Error, no graphic available" />
								</f:then>
								<f:else>
									<p class="noValuesToShow"><f:translate key="BackendReportingNoValues">No Values to Show</f:translate></p>
								</f:else>
							</f:if>

							<div class="powermail_reporting_form_fields_table_absolute">
								<table class="powermail_reporting_form_fields_table">
									<tr>
										<th style="width: 90%;" class="close"><f:translate key="BackendReportingFormValue" /></th>
										<th style="width: 10%;"><f:translate key="BackendReportingFormAmount" /></th>
									</tr>
									<f:for each="{groupedMarketingStuff.marketingBrowserLanguage}" as="amount" key="value">
										<tr>
											<td>
												<span title="{value}">
													<f:format.crop maxCharacters="80" append="&nbsp;[...]">{value}</f:format.crop>
												</span>
											</td>
											<td>{amount}</td>
										</tr>
									</f:for>
								</table>
							</div>
						</div>

						<div class="powermail_reporting_marketing_fields_item">
							<h4><f:translate key="\In2code\Powermail\Domain\Model\Mail.marketingPageFunnel">Page Funnel</f:translate></h4>
							<f:if condition="{vh:Reporting.GetLabelsGoogleCharts(answers:groupedMarketingStuff,fieldUidOrKey:'marketingPageFunnel')}">
								<f:then>
									<img src="http://chart.apis.google.com/chart?
												chf=bg,s,F8F8F8
												&chxs=0,676767,10.5
												&chxt=x
												&chs=600x200
												&cht=p3
												&chd=t:50,50
												&chdl={vh:Reporting.GetLabelsGoogleCharts(answers:groupedMarketingStuff,fieldUidOrKey: 'marketingPageFunnel')}
												&chd=t:{vh:Reporting.GetValuesGoogleCharts(answers:groupedMarketingStuff,fieldUidOrKey: 'marketingPageFunnel', separator:',')}
												&chl={vh:Reporting.GetValuesGoogleCharts(answers:groupedMarketingStuff,fieldUidOrKey: 'marketingPageFunnel', separator:'|')}
											" alt="Error, no graphic available" />
								</f:then>
								<f:else>
									<p class="noValuesToShow"><f:translate key="BackendReportingNoValues">No Values to Show</f:translate></p>
								</f:else>
							</f:if>

							<div class="powermail_reporting_form_fields_table_absolute">
								<table class="powermail_reporting_form_fields_table">
									<tr>
										<th style="width: 90%;" class="close"><f:translate key="BackendReportingFormValue" /></th>
										<th style="width: 10%;"><f:translate key="BackendReportingFormAmount" /></th>
									</tr>
									<f:for each="{groupedMarketingStuff.marketingPageFunnel}" as="amount" key="value">
										<tr>
											<td>
												<f:if condition="{0 : value} == {0 : '-'}">
													<f:then>
														{value}
													</f:then>
													<f:else>
														<f:for each="{vh:String.Explode(string: '{value}')}" as="page" iteration="index">
															<vh:Getter.GetPageNameFromUid uid="{page}" /><f:if condition="{index.isLast}"><f:else> &gt;</f:else></f:if>
														</f:for>
													</f:else>
												</f:if>
											</td>
											<td>{amount}</td>
										</tr>
									</f:for>
								</table>
							</div>
						</div>

					<div class="clear"></div>
				
					</div>
				</div>
			</f:then>
			<f:else>
				<h3><f:translate key="BackendListNoMails" /></h3>
				<p><f:translate key="BackendListNoMailsSub" /></p>
			</f:else>
		</f:if>
	</div>
</f:section>