{namespace vh=Tx_Powermail_ViewHelpers}
<f:layout name="Backend"/>


Show Backend Module: Powermail Reporting Marketing

<f:section name="content">

	<h2><f:translate key="BackendReportingMarketingTitle" /></h2>

	<f:flashMessages class="powermail_message" />

	<div class="powermail_reporting_marketing">
		<div class="powermail_module_search">
			<div class="powermail_module_search_inner">
				<f:render partial="Module/SearchBe" arguments="{piVars: piVars, mails: mails, firstMail: firstMail, action : 'reportingMarketingBe'}" />
			</div>
		</div>

		<f:if condition="{f:count(subject: '{mails}')}">
			<f:then>

				<h3><f:translate key="BackendReportingFormSubtitle1" /> <f:count subject="{mails}" /> <f:translate key="Emails" />:</h3>

				<div class="powermail_reporting_marketing_fields">
					<div class="powermail_reporting_marketing_fields_inner">

						<div class="powermail_reporting_marketing_fields_item">
							<h4><f:translate key="Tx_Powermail_Domain_Model_Mails.marketingSearchterm" /></h4>

							<img src="http://chart.apis.google.com/chart?
								chf=bg,s,F8F8F8
								&chxs=0,676767,10.5
								&chxt=x
								&chs=350x200
								&cht=p3
								&chd=t:50,50
								&chdl={vh:Reporting.GetLabelsGoogleCharts(answers: '{groupedMarketingStuff}', field: 'marketingSearchterm')}
								&chd=t:{vh:Reporting.GetValuesGoogleCharts(answers: '{groupedMarketingStuff}', field: 'marketingSearchterm', separator: ',')}
								&chl={vh:Reporting.GetValuesGoogleCharts(answers: '{groupedMarketingStuff}', field: 'marketingSearchterm', separator: '|')}
							" width="350" height="200" alt="Error, no graphic available" />

							<table class="powermail_reporting_form_fields_table">
								<tr>
									<th width="90%" class="close"><f:translate key="BackendReportingFormValue" /></th>
									<th width="10%"><f:translate key="BackendReportingFormAmount" /></th>
								</tr>
								<f:for each="{groupedMarketingStuff.marketingSearchterm}" as="amount" key="value">
									<tr>
										<td>{value}</td>
										<td>{amount}</td>
									</tr>
								</f:for>
							</table>
						</div>

						<div class="powermail_reporting_marketing_fields_item">
							<h4><f:translate key="Tx_Powermail_Domain_Model_Mails.marketingReferer" /></h4>

							<img src="http://chart.apis.google.com/chart?
								chf=bg,s,F8F8F8
								&chxs=0,676767,10.5
								&chxt=x
								&chs=350x200
								&cht=p3
								&chd=t:50,50
								&chdl={vh:Reporting.GetLabelsGoogleCharts(answers: '{groupedMarketingStuff}', field: 'marketingReferer')}
								&chd=t:{vh:Reporting.GetValuesGoogleCharts(answers: '{groupedMarketingStuff}', field: 'marketingReferer', separator: ',')}
								&chl={vh:Reporting.GetValuesGoogleCharts(answers: '{groupedMarketingStuff}', field: 'marketingReferer', separator: '|')}
							" width="350" height="200" alt="Error, no graphic available" />

							<table class="powermail_reporting_form_fields_table">
								<tr>
									<th width="90%" class="close"><f:translate key="BackendReportingFormValue" /></th>
									<th width="10%"><f:translate key="BackendReportingFormAmount" /></th>
								</tr>
								<f:for each="{groupedMarketingStuff.marketingReferer}" as="amount" key="value">
									<tr>
										<td>{value}</td>
										<td>{amount}</td>
									</tr>
								</f:for>
							</table>
						</div>

						<div class="clear"></div>

						<div class="powermail_reporting_marketing_fields_item">
							<h4><f:translate key="Tx_Powermail_Domain_Model_Mails.marketingPayedSearchResult" /></h4>

							<img src="http://chart.apis.google.com/chart?
								chf=bg,s,F8F8F8
								&chxs=0,676767,10.5
								&chxt=x
								&chs=350x200
								&cht=p3
								&chd=t:50,50
								&chdl={vh:Reporting.GetLabelsGoogleCharts(answers: '{groupedMarketingStuff}', field: 'marketingPayedSearchResult')}
								&chd=t:{vh:Reporting.GetValuesGoogleCharts(answers: '{groupedMarketingStuff}', field: 'marketingPayedSearchResult', separator: ',')}
								&chl={vh:Reporting.GetValuesGoogleCharts(answers: '{groupedMarketingStuff}', field: 'marketingPayedSearchResult', separator: '|')}
							" width="350" height="200" alt="Error, no graphic available" />

							<table class="powermail_reporting_form_fields_table">
								<tr>
									<th width="90%" class="close"><f:translate key="BackendReportingFormValue" /></th>
									<th width="10%"><f:translate key="BackendReportingFormAmount" /></th>
								</tr>
								<f:for each="{groupedMarketingStuff.marketingPayedSearchResult}" as="amount" key="value">
									<tr>
										<td>{value}</td>
										<td>{amount}</td>
									</tr>
								</f:for>
							</table>
						</div>

						<div class="powermail_reporting_marketing_fields_item">
							<h4><f:translate key="Tx_Powermail_Domain_Model_Mails.marketingLanguage" /></h4>

							<img src="http://chart.apis.google.com/chart?
								chf=bg,s,F8F8F8
								&chxs=0,676767,10.5
								&chxt=x
								&chs=350x200
								&cht=p3
								&chd=t:50,50
								&chdl={vh:Reporting.GetLabelsGoogleCharts(answers: '{groupedMarketingStuff}', field: 'marketingLanguage')}
								&chd=t:{vh:Reporting.GetValuesGoogleCharts(answers: '{groupedMarketingStuff}', field: 'marketingLanguage', separator: ',')}
								&chl={vh:Reporting.GetValuesGoogleCharts(answers: '{groupedMarketingStuff}', field: 'marketingLanguage', separator: '|')}
							" width="350" height="200" alt="Error, no graphic available" />

							<table class="powermail_reporting_form_fields_table">
								<tr>
									<th width="90%" class="close"><f:translate key="BackendReportingFormValue" /></th>
									<th width="10%"><f:translate key="BackendReportingFormAmount" /></th>
								</tr>
								<f:for each="{groupedMarketingStuff.marketingLanguage}" as="amount" key="value">
									<tr>
										<td>{value}</td>
										<td>{amount}</td>
									</tr>
								</f:for>
							</table>
						</div>

						<div class="clear"></div>

						<div class="powermail_reporting_marketing_fields_item">
							<h4><f:translate key="Tx_Powermail_Domain_Model_Mails.marketingBrowserLanguage" /></h4>

							<img src="http://chart.apis.google.com/chart?
								chf=bg,s,F8F8F8
								&chxs=0,676767,10.5
								&chxt=x
								&chs=350x200
								&cht=p3
								&chd=t:50,50
								&chdl={vh:Reporting.GetLabelsGoogleCharts(answers: '{groupedMarketingStuff}', field: 'marketingBrowserLanguage')}
								&chd=t:{vh:Reporting.GetValuesGoogleCharts(answers: '{groupedMarketingStuff}', field: 'marketingBrowserLanguage', separator: ',')}
								&chl={vh:Reporting.GetValuesGoogleCharts(answers: '{groupedMarketingStuff}', field: 'marketingBrowserLanguage', separator: '|')}
							" width="350" height="200" alt="Error, no graphic available" />

							<table class="powermail_reporting_form_fields_table">
								<tr>
									<th width="90%" class="close"><f:translate key="BackendReportingFormValue" /></th>
									<th width="10%"><f:translate key="BackendReportingFormAmount" /></th>
								</tr>
								<f:for each="{groupedMarketingStuff.marketingBrowserLanguage}" as="amount" key="value">
									<tr>
										<td>{value}</td>
										<td>{amount}</td>
									</tr>
								</f:for>
							</table>
						</div>

						<div class="powermail_reporting_marketing_fields_item">
							<h4><f:translate key="Tx_Powermail_Domain_Model_Mails.marketingFunnel" /></h4>

							<img src="http://chart.apis.google.com/chart?
								chf=bg,s,F8F8F8
								&chxs=0,676767,10.5
								&chxt=x
								&chs=350x200
								&cht=p3
								&chd=t:50,50
								&chdl={vh:Reporting.GetLabelsGoogleCharts(answers: '{groupedMarketingStuff}', field: 'marketingFunnel')}
								&chd=t:{vh:Reporting.GetValuesGoogleCharts(answers: '{groupedMarketingStuff}', field: 'marketingFunnel', separator: ',')}
								&chl={vh:Reporting.GetValuesGoogleCharts(answers: '{groupedMarketingStuff}', field: 'marketingFunnel', separator: '|')}
							" width="350" height="200" alt="Error, no graphic available" />

							<table class="powermail_reporting_form_fields_table">
								<tr>
									<th width="90%" class="close"><f:translate key="BackendReportingFormValue" /></th>
									<th width="10%"><f:translate key="BackendReportingFormAmount" /></th>
								</tr>
								<f:for each="{groupedMarketingStuff.marketingFunnel}" as="amount" key="value">
									<tr>
										<td>
											<f:if condition="{0 : value} == {0 : '-'}">
												<f:then>
													{value}
												</f:then>
												<f:else>
													<f:for each="{vh:String.Explode(string: '{value}')}" as="page" iteration="index">
														<vh:Getter.GetPageNameFromUid uid="{page}" /><f:if condition="{index.isLast}"><f:else> &gt;</f:else></f:if>
													</f:for>
												</f:else>
											</f:if>
										</td>
										<td>{amount}</td>
									</tr>
								</f:for>
							</table>
						</div>

						<div class="clear"></div>

					</div>
				</div>
			</f:then>
			<f:else>
				<h3><f:translate key="BackendListNoMails" /></h3>
				<p><f:translate key="BackendListNoMailsSub" /></p>
			</f:else>
		</f:if>
	</div>
</f:section>