name: testing
on:
  push:
    branches-ignore:
      - 'l10n_*'
  pull_request:
    branches-ignore:
      - 'l10n_*'

jobs:
  php-lint:
    name: "PHP linter"
    runs-on: ubuntu-24.04
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4
      - name: "Install PHP"
        uses: shivammathur/setup-php@v2
        with:
          php-version: "${{ matrix.php-version }}"
          coverage: none
          tools: composer:v2
      - name: "Run PHP lint"
        run: "composer test:php:lint"
    strategy:
      fail-fast: false
      matrix:
        php-version:
          - 8.2
          - 8.3
          - 8.4
  typoscript-lint:
    name: "TypoScript linter"
    runs-on: ubuntu-24.04
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4
      - name: "Install PHP"
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
      - name: "Composer Install"
        run: "composer install"
      - name: "Run typoscript lint"
        run: "composer test:typoscript:lint"
  php-cs-fixer:
    name: "PHP CS Fixer"
    runs-on: ubuntu-24.04
    needs: php-lint
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4
      - name: "Install PHP"
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
      - name: "Composer Install"
        run: "composer install"
      - name: "Run PHP CS Fixer"
        run: "composer test:php:cs"
  phpstan:
    name: "PHPstan"
    runs-on: ubuntu-24.04
    needs: php-lint
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4
      - name: "Install PHP"
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
      - name: "Composer Install"
        run: "composer install"
      - name: "Run PHPstan"
        run: "composer test:php:phpstan"
  unit-tests:
    name: "PHP Unit Tests"
    runs-on: ubuntu-24.04
    needs: php-lint
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: "Install PHP"
        uses: shivammathur/setup-php@v2
        with:
          php-version: "${{ matrix.php-version }}"
          coverage: none
          tools: composer:v2
      - name: "Composer Install"
        run: "composer install"
      - name: "Run Unit Tests"
        run: "composer test:unit"
    strategy:
      fail-fast: false
      matrix:
        php-version:
          - 8.2
          - 8.3
          - 8.4
